#zip_search_form
  %form{:class => 'well form form-horizontal', :id => 'zipform'}
    .control-group
      %label.control-label{ :for => :zip } Search by Zip
      .controls
        .input-append
          = text_field_tag :zip
          %button.btn{:id => "zipsearch"} Search
    .control-group
      %label.control-label{ :for => :state } State
      .controls
        = select_tag :state, options_for_select(Carmen::states('US'), 'CA')
    .control-group
      %label.control-label{ :for => :city } City
      .controls
        = text_field_tag :city
    .control-group
      %label.control-label{ :for => :company_name } Company Name
      .controls
        .input-append
          = text_field_tag :company_name
          %input.btn{:id => :search, :value => "Search", :type => 'button' }/
  #business_results

= semantic_form_for @business, :validate => true, :html => {:multipart => true, :class => 'form-horizontal' }  do |f|
  - @accounts = [] if @accounts.nil?
  = f.semantic_errors
  - @f = f
  .span8
    = render :partial => 'form/business_details'
    = render :partial => 'form/payment_methods'
    = render :partial => 'form/business_hours'
    = render :partial => 'form/company_description'
    =# render :partial => 'form/keywords'
    =# render :partial => 'form/mail_settings'
    =# render :partial => 'form/existing_account_logins'
    = render :partial => 'form/categories'
    = render :partial => 'form/logo'
    = render :partial => 'form/submit'
%br/
%br/
