:javascript
  window.socialAccounts = #{Business.site_accounts.to_json}

#socialmedia

= semantic_form_for @business, :validate => true, :html => {:multipart => true, :class => 'form-horizontal' }  do |f|
  = f.semantic_errors
  - @f = f
  = render :partial => 'form/business_details'
  = render :partial => 'form/payment_methods'
  = render :partial => 'form/business_hours'
  = render :partial => 'form/company_description'
  = render :partial => 'form/keywords'
  = render :partial => 'form/mail_settings'
  = render :partial => 'form/existing_account_logins'
  = render :partial => 'form/categories'
  = render :partial => 'form/logo'
  = f.actions do 
    = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
