.row
  .span12
    = render :partial => 'form/search_form' unless request.xhr?
.row
  .span12
    -# form_url = @business.id.nil? ? '/businesses' : business_update_state_path(@business.id)
    -# semantic_form_for @business, :url => form_url, :validate => true, :html => { :class => 'business-form.form-horizontal' }, :remote => true  do |f|
    = semantic_form_for @business, :validate => true, :html => { :class => 'business-form.form-horizontal' } do |f|
      = hidden_field_tag 'current_tab', @tab ||= "#tab1"
      - @accounts = [] if @accounts.nil?
      = f.semantic_errors
      - @f = f
      #business_steps.pf-form 
        .row-fluid 
          .span3 
            .step-title 
              %span.step-order 1. 
              %span.step-name Business Details
            .step-title 
              %span.step-order 2. 
              %span.step-name Hours and Payment 
            .step-title 
              %span.step-order 3. 
              %span.step-name Manage Images 
            .step-title 
              %span.step-order 4. 
              %span.step-name Company Description 
          .span9.well.clearfix
            .step-content= render :partial => 'form/business_details' 
            .step-content= render :partial => 'form/hours_and_payment' 
            .step-content= render :partial => 'form/logo' 
            .step-content= render :partial => 'form/company_description' 
            = render :partial => 'form/submit'
