#zip_search_form
  %form{:class => 'well form form-horizontal', :id => 'zipform'}
    .control-group
      %label.control-label{ :for => :zip } Search by Zip
      .controls
        .input-append
          = text_field_tag :zip
          %button.btn{:id => "zipsearch"} Search
    .control-group
      %label.control-label{ :for => :state } State
      .controls
        = select_tag :state, options_for_select(Carmen::states('US'), 'CA')
    .control-group
      %label.control-label{ :for => :city } City
      .controls
        = text_field_tag :city
    .control-group
      %label.control-label{ :for => :company_name } Company Name
      .controls
        .input-append
          = text_field_tag :company_name
          %input.btn{:id => :search, :value => "Search", :type => 'button' }/
  #business_results

= semantic_form_for @business, :url=>business_update_state_path(@business), :validate => true, :html => { :class => 'business-form.form-horizontal' }, :remote=>true  do |f|
  - @accounts = [] if @accounts.nil?
  = f.semantic_errors
  - @f = f
  .span10
    .tabbable
      %ul.nav.nav-tabs.form-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Business Details
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Payment Methods
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Business Hours
        %li
          %a{"data-toggle" => "tab", :href => "#tab4"} Company Description
        %li
          %a{"data-toggle" => "tab", :href => "#tab5"} Categories
      .tab-content
        #tab1.tab-pane.active= render :partial => 'form/business_details'
        #tab2.tab-pane= render :partial => 'form/payment_methods'
        #tab3.tab-pane= render :partial => 'form/business_hours'
        #tab4.tab-pane= render :partial => 'form/company_description'
        #tab5.tab-pane= render :partial => 'form/categories'
    = render :partial => 'form/submit'
%br/
%br/
:javascript
  $(function(){
    fn_business_ajax_form_init();
  });


