:javascript
  window.socialAccounts = #{Business.site_accounts.to_json}

#socialmedia

= semantic_form_for @business, :validate => true, :html => {:multipart => true, :class => 'form-horizontal' }  do |f|
  = f.semantic_errors
  = f.inputs "Business Details" do
    .well
      = f.input :business_name,      :placeholder => "The name of the business."
      = f.input :corporate_name,     :placeholder => "DBA/Corporate Name"
      = f.input :duns_number,        :placeholder => "DUNS number (if any)"
      = f.input :sic_code,           :placeholder => "SIC or NAICS code (if any)"
      = f.input :contact_prefix,     :as => :select, :collection => Business.prefix_list
      = f.input :contact_gender,     :as => :select, :collection => Business.gender_list
      = f.input :contact_first_name, :placeholder => "Contact First Name",  :input_html => { 'data-content' => 'The first name of the person that LLH should speak to regarding your account.', 'title' => 'Main Contact Person',   :rel => 'popover' }
      = f.input :contact_middle_name,:placeholder => "Contact Middle Name", :input_html => { 'data-content' => 'The middle name of the person that LLH should speak to regarding your account.', 'title' => 'Main Contact Person', :rel => 'popover' }
      = f.input :contact_last_name,  :placeholder => "Contact Last Name",   :input_html => { 'data-content' => 'The last name of the person that LLH should speak to regarding your account.', 'title' => 'Main Contact Person',     :rel => 'popover' }
      = f.input :local_phone,        :placeholder => "Primary Local Phone", :hint => "Format: 555-555-1212", :input_html => { 'data-content' => 'This number will be used in all online directory listings, including your website.', 'title' => 'Primary Local Phone Number',    :rel => 'popover' }
      = f.input :alternate_phone,    :placeholder => "Alternate Phone",     :hint => "Format: 555-555-1212"
      = f.input :toll_free_phone,    :placeholder => "Toll-Free Phone",     :hint => "Format: 8XX-555-1212", :input_html => { 'data-content' => 'It is not recommended to use a toll free number in your listings, however if you have one, please provide it.', 'title' => 'Toll Free Number', :rel => 'popover' }
      = f.input :mobile_phone,       :placeholder => "Mobile Phone",        :hint => "Format: 555-555-1212", :input_html => { 'data-content' => 'If you check the box below, we will display your your mobile number in online directories.  If not, only LLH will use it to contact you.', 'title' => 'Mobile Number', :rel => 'popover' }
      = f.input :mobile_appears,     :label       => "Should Mobile Number Appear on Listings?"
      = f.input :fax_number,         :placeholder => "Fax Number",          :hint => "Format: 555-555-1212"
      = f.input :address,            :placeholder => "Business Address",    :input_html => { 'data-content' => 'This address will be used in all online directory listings, including your website.', 'title' => 'Primary Business Address', :rel => 'popover' }
      = f.input :address2,           :placeholder => "Address Line 2"
      = f.input :city,               :placeholder => "Business City"
      = f.input :state,              :as => :select, :collection => Carmen::states('US')
      = f.input :zip,                :placeholder => "Business Zip"
      #map
  = f.inputs "Payment Methods" do
    .well
      %table.table.table-condensed#timetable
        %thead
          %tr
            %td Method
        %tbody
          - @business.payment_methods.each do |type|
            %tr.acceptrow
              %td
                %label.checkbox
                  = f.check_box "accepts_#{type}".to_sym
                  = type.capitalize
  = f.inputs "Business Hours" do
    .well
      %table.table.table-condensed#timetable
        %thead
          %tr
            %td Day
            %td Open
            %td Close
        %tbody
          - ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].each do |day|
            %tr.timerow
              %td
                %label.checkbox
                  = f.check_box "#{day}_enabled".to_sym
                  = day.capitalize
              %td
                = select_tag "business[#{day}_open]".to_sym, options_for_select(Business.list_times, @business.send("#{day}_open")), :class => 'timeitem'
              %td
                = select_tag "business[#{day}_close]".to_sym, options_for_select(Business.list_times, @business.send("#{day}_close")), :class => 'timeitem'
                -# if @business.send("#{day}_enabled")
          %tr.timerow
            %td{:colspan => 3}
              %label.checkbox
                = f.check_box :open_24_hours
                Open 24 Hours
          %tr.timerow
            %td{:colspan => 3}
              %label.checkbox
                = f.check_box :open_by_appointment
                Open By Appointment
  = f.inputs "Company Description" do 
    .well
      = f.input :business_description,      :placeholder => 'Business Description'
      = f.input :professional_associations, :placeholder => 'Professional Associations and Memberships'
      = f.input :geographic_areas,          :as => :select, :collection => Business.geographic_areas_list, :label => 'Geographic Area Serviced'
      = f.input :year_founded,              :placeholder => 'Year Founded'
  = f.inputs "Web Presence" do 
    .well
      = f.input :company_website, :placeholder => 'Company Website'
      = f.input :fan_page_url,    :placeholder => 'Facebook Fan Page URL'
  = f.inputs "SEO Focus" do
    .well
      = f.input :keyword1, :placeholder => 'Keyword that describes the business.'
      = f.input :keyword2, :placeholder => 'Keyword that describes the business.'
      = f.input :keyword3, :placeholder => 'Keyword that describes the business.'
      = f.input :keyword4, :placeholder => 'Keyword that describes the business.'
      = f.input :keyword5, :placeholder => 'Keyword that describes the business.'
  = f.inputs "Competitors" do
    .well
      = f.input :competitors,      :placeholder => 'Who are your direct competitors?'
      = f.input :most_like,        :placeholder => 'What company is most like yours?  (size, revenue, services offered, locale)'
      = f.input :industry_leaders, :placeholder => 'Who are the industry leaders?'
  = f.inputs "Mail Settings" do
    - accounts = @business.accounts.first
    - if accounts.nil?
      - accounts = {'email' => '', 'password' => '', 'address' => '', 'port' => '', 'connection_type' => 'IMAP', 'username' => ''}
      - offset   = 'new'
    - else
      - offset   = '0'
    - [['email', 'Primary Company Email'], ['password', 'Password']].each do |field|
      .control-group
        %label.control-label{:for => "business[accounts_attributes][#{offset}][#{field[0]}]"} #{field[1]}
        .controls
          %input{:type => 'text', :size => "30", :name => "business[accounts_attributes][#{offset}][#{field[0]}]", :value => accounts[field[0]], :id => "business_accounts_attributes_#{offset}_#{field[0]}"}/
    .control-group
      %label.control-label{:for => "business[accounts_attributes][#{offset}][connection_type]"} Connection Type
      .controls
        = select_tag "business[accounts_attributes][#{offset}][connection_type]".to_sym, options_for_select(%w/IMAP POP3/, accounts['connection_type'])
    - [['username', 'Mail Username'], ['address', 'Mail Server'], ['port', 'Port']].each do |field|
      .control-group
        %label.control-label{:for => "business[accounts_attributes][#{offset}][#{field[0]}]"} #{field[1]}
        .controls
          %input{:type => 'text', :size => "30", :name => "business[accounts_attributes][#{offset}][#{field[0]}]", :value => accounts[field[0]], :id => "business_accounts_attributes_#{offset}_#{field[0]}"}/
    #mail_message
  = f.inputs "Existing Account Logins" do
    = ''
  - @business.accounts.each do |site|
    .well
      = f.inputs site[0] do
        .fields
          - @business.send(site[1]).each do |obj|
            - site[2].each do |field|
              .control-group
                %label.control-label{:for => "business[#{site[1]}_attributes][0][#{field[1]}]"} #{field[1]}
                .controls
                  %input{:type => field[0], :size => "30", :name => "business[#{site[1]}_attributes][0][#{field[1]}]", :value => obj.send(field[1]), :id => "business_#{site[1]}_attributes_0_#{field[1]}"}/
                  %input{:type => "hidden", :value => "false", :name => "business[#{site[1]}_attributes][0][_destroy]", :id => "business_#{site[1]}_attributes_0__destroy"}/
                  %a{:class => "remove_nested_fields", :href => "javascript:void(0)"} Remove #{site[0]}
                  %br/
                  %input{:type => "hidden", :value => obj.id, :name => "business[#{site[1]}_attributes][0][id]", :id => "business_#{site[1]}_attributes_0_id" }
  #socialButtons
    - @business.nonexistent_accounts.each do |site|
      %a{ 'data-association' => site[1], :class => "add_nested_fields social_sites", :href => "javascript:void(0);", :onclick => "window.removeButton(this);", :style => 'margin-left: 160px'}
        = image_tag "/assets/#{site[1]}.png", :alt => "Add #{site[0]}", :title => "Add #{site[0]} Credentials"
      %br/
  = f.inputs "Categories" do
    .well
      = f.input :category1
      = f.input :category2
      = f.input :category3
  = f.inputs "Logo" do
    .well
      #logo_uploader
        %h3 Select an image from your computer.
        = f.input :logo
      - unless @business.logo.url =~ /missing/
        #logo_shown
          %h3 Current image.
          = link_to image_tag(@business.logo.url(:thumb)), @business.logo.url, :class => 'thumbnail', :title => 'Current Logo'
  = f.actions do 
    = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
