.dataTables_wrapper
  %table.table.table-striped.table-bordered.table-hover.dataTable
    %thead 
      %tr
        %th Business Name 
        %th Address
        %th Phone Number 
        %th Owner
        %th Modify 
    %tbody 
      - @businesses.each do |business| 
        %tr
          %td=link_to business.business_name, business 
          %td
            =business.address 
            %br/
            ="#{business.city}, #{business.state} #{business.zip}"
          %td= business.toll_free_phone.present? ? business.toll_free_phone : business.local_phone
          %td #{business.contact_first_name} #{business.contact_last_name} 
          %td
            %a.btn.btn-xs.btn-success{:href => business_path(business)}
              %i.icon-ok.bigger-120
            %a.btn.btn-xs.btn-info{:href => edit_business_path(business) }
              %i.icon-edit.bigger-120
            %a.btn.btn-xs.btn-danger{:href => business_path(business), :method => :delete, :confirm => "Are you sure?"}
              %i.icon-trash.bigger-120
            - if current_user.admin?
              %a.btn.btn-xs.btn-info{:href => "/categories?business_id=#{business.id}", :title => "Edit Categories"}
                %i.icon-align-right.bigger-120
  .row 
    .col-md-6
      .dataTables_info
        = page_entries_info @businesses
    .col-md-6
      .dataTables_paginate.paging_bootstrap
        = will_paginate @businesses, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1

