-#
  .center 
  %span.btn.btn-app.btn-sm.btn-yellow.no-hover 
    %span.line-height-1.bigger-170 8
    %br/ 
    %span.line-height-1.smaller-90 
      Action
      %br/
      Items
  %span.btn.btn-app.btn-sm.btn-pink.no-hover 
    %span.bigger-170.line-height-1 4
    %br/ 
    %span.smaller-90.line-height-1 
      Activity
      %br/
      Alerts
  %span.btn.btn-app.btn-sm.btn-light.no-hover 
    %span.bigger-170.line-height-1 25
    %br/ 
    %span.smaller-90.line-height-1 
      Sync'd
      %br/
      Accounts 
  %span.btn.btn-app.btn-sm.btn-success.no-hover 
    %span.bigger-170.line-height-1 25
    %br/ 
    %span.smaller-90.line-height-1 
      Live 
      %br/
      Listings
.space-12
%table.table.table-striped.show-table
  %tbody 
    %tr
      %td Location Name
      %td= @business.business_name
    %tr
      %td Location 
      %td 
        =@business.address
        -if @business.address2.present?
          %br
          %span= @business.address2
        %br
        #{@business.city}, #{@business.state} #{@business.zip}
    %tr
      %td Phone
      %td= @business.toll_free_phone.present? ? @business.toll_free_phone : @business.local_phone
    %tr
      %td Email
      %td= @business.user.nil? ? "Not assigned" : @business.user.email
    %tr
      %td URL
      %td= @business.company_website
    %tr
      %td Store Manager
      %td= link_to "#{@business.contact_first_name} #{@business.contact_last_name}", user_path(@business.user)
    %tr
      %td Subscription
      %td
        - if @business.subscription.present? 
          =link_to number_to_currency(@business.subscription.monthly_fee/100) + " per month", subscription_path(@business.subscription)
.space-20
.google-map
  != "<iframe width='100%' height='400' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=#{@business.address}+#{@business.city}+#{@business.state}+#{@business.zip}&z=13&output=embed'></iframe>"
