.row
  .col-xs-12
    .clearfix
      .pull-left.alert.alert-success.no-margin 
        %button.close{data:{dismiss:"alert"}}
          %i.icon-remove
        %i.icon-umbrella.bigger-120.blue
        Click on the image below or on profile fields to edit them.
    .hr.dotted
    %div
      .user-profile.row
        .col-xs-12.col-sm-3.center
          %div 
            -if @business.logo.nil?
              .alert.alert-info
                The logo is missing.  Edit your location to upload an image. 
            -else
              %span.profile-picture 
              =imgage_tag @business.logo.url, class: "editable.img-responsive"

            .space-4
            .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
              .inline.position-relative
                %a.user-title-label.dropdown-toggle{data:{toggle:"dropdown"}}
                  %i.icon-circle.light-green.middle
                  %span.white.middle.bigger-120=@business.name
                %ul.align-left.dropdown-menu.dropdown-caret.dropdown-lighter
                  %li.dropdown-header Change Status 
                  %li 
                    %a{:href => "#"} 
                      %i.icon-circle.green
                      &nbsp;
                      %span.green Available
                  %li 
                    %a{:href => "#"} 
                      %i.icon-circle.red
                      &nbsp; 
                      %span.red Busy 
                  %li 
                    %a{:href => "#"} 
                      %i.icon-circle.grey
                      &nbsp; 
                      %span.grey Invisible
            .space-6
            .profile-contact-info
              .profile-contact-links.align-left
                %a.btn.btn-link{href:"#"}
                  %i.icon-bullhorn.bigger-120.green 
                  Send Broadcast
                %a.btn.btn-link{:href => "#"}
                  %i.icon-edit.bigger-120.pink
                  Edit Listing 
                %a.btn.btn-link{:href => "#"}  
                  %i.icon-globe.bigger-125.blue 
                  %i.icon-facebook.bigger-125.blue 
                  %i.icon-twitter.bigger-125.blue 
                  %i.icon-google-plus.bigger-125.blue 
                  %i.icon-foursquare.bigger-125.blue 
            .space-6
            .profile-social-links.center 
          .hr.hr12.dotted
        .col-xs-12.col-sm-9
          .center 
            %span.btn.btn-app.btn-small.btn-yellow.no-hover 
              %span.bigger-175 8
              %br/ 
              %span.smaller-90 Action Items
            %span.btn.btn-app.btn-small.btn-pink.no-hover 
              %span.bigger-175 4
              %br/ 
              %span.smaller-90 Activity Alerts
            %span.btn.btn-app.btn-small.btn-light.no-hover 
              %span.bigger-175 25
              %br/ 
              %span.smaller-90 Sync'd Accounts 
            %span.btn.btn-app.btn-small.btn-success.no-hover 
              %span.bigger-175 25
              %br/ 
              %span.smaller-90 Live Listings
            .space-12
            .profile-user-info.profile-user-info-striped
              .profile-info-row 
                .profile-info-name Location Name
                .profile-info-value 
                  %span.editable= @business.name
              .profile-info-row 
                .profile-info-name Location 
                .profile-info-value 
                  %i.icon-map-marker.light-orange.bigger-110
                  %span.editable= @business.address
                  %span.editable= "#{@business.city}, #{@business.state} #{@business.zip}"
              .profile-info-row 
                .profile-info-name Phone
                .profile-info-value
                  %span.editable= @business.local_phone
              .profile-info-row 
                .profile-info-name Email
                .profile-info-value 
                  %span.editable Add email here
              .profile-info-row 
                .profile-info-name URL
                .profile-info-value 
                  %span.editable= @business.company_website
              .profile-info-row 
                .profile-info-name Store Manager
                .profile-info-value 
                  %span.editable Add store manager
            .space-20
            .google-map
              %iframe(width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=3827+RR+620+S+Austin,+TX+78738&z=1&output=embed")
