%h3.page-title
  = @business.business_name
  %sup
    = link_to 'Edit This Business', edit_business_path(@business), :class => 'btn btn-info'
  - if @business.subscription and @business.subscription.active?
    %sup
      = link_to 'Edit Your Subscription',  edit_subscription_path(@business), :class => 'btn btn-info'
  - else
    %sup
      = link_to 'Renew Your Subscription', edit_subscription_path(@business), :class => 'btn btn-info'

%br/

- if @business.notifications.count > 0
  %h2 Pending Notifications
  %table.table.table-bordered
    %tbody
      - @business.notifications.each do |note|
        %tr
          %td
            %h3
              = note.title
            = note.body
            = raw '&nbsp;'
            - if note.url != nil
              = link_to "Start", note.url, :class => 'btn btn-info'
  %br/

- if @job_count > 0
  %h2 Citation Creation and Update Tasks
  %p Click the button below to start the process that creates and updates your business listing.
  %table.table.table-bordered
    %tbody
      %tr
        %td
          You have #{@job_count} pending citation jobs.
        %td
          = form_for Task.new do
            %input{:type => :hidden, :value => @business.id, :name => 'business_id'}
            %input{:type => :submit, :value => 'Start Sync', :class => 'btn btn-info btn-xlarge'}

-#  .span4
-#    %h3 Social Update
-#    %p Keep your customers up to date with every aspect of your business! Use the form below to update all your social media sites.
-#    %form.form-search.well
-#      = text_field_tag :q, '', :placeholder => 'Send social media update.', :class => 'search-query input-medium'
-#      %a{:class => "btn btn-success", :href => "#" } Update
.row
  .span4
    %h3 Download Client Software
    %p Use the button below to download the client software for this business. For best results this software should be installed on a system at the business location.
    .well
      %a.btn.btn-warning.btn-large{:href => "/downloads/#{@business.id}"} Download Client
