- content_for :summary do 
  = render :partial => 'citation_summary'
.business-summary
  .row
    .span6
      .business-info
        %address
          %strong= @business.corporate_name
          %br
          = @business.address 
          %br
          - unless @business.address2.blank? 
            = @business.address2
            %br
          = "#{@business.city}, #{@business.state} #{@business.zip}" 
          %br
          = @business.local_phone 
          %br
        = link_to 'Edit This Business', edit_business_path(@business), :class => 'btn btn-info'
        = link_to 'Edit Subscription', edit_subscription_path(@business), :class => 'btn btn-info'
      = link_to business_download_url(@business, "client"), :class => 'business-button' do 
        =image_tag('icon-person.png')
        Download Software

    .span6
      .business-info
        .pending
          %h3 
            %a(href="#myModal" role="button" data-toggle="modal" data-remote="#{business_notifications_path(@business)}"  )
              Items Pending Action 
          %h1.counter= @business.notifications.count #@job_count
      %a.business-button{:href => "/report.pdf?business_id=#{@business.id}"}
        =image_tag('icon-report.png')
        View Report

      .modal.hide.fade#myModal{ tabindex: "-1", role: "dialog", 'aria-labelledby'=> "myModalLabel", 'aria-hidden'=> "true", data: {backdrop: 'true' } } 
        .modal-header.notification-modal-header
          %button.close{ type:"button", data: {dismiss:"modal"}, 'aria-hidden' => "true"}× 
        .modal-body

-#  .span4
-#    %h3 Social Update
-#    %p Keep your customers up to date with every aspect of your business! Use the form below to update all your social media sites.
-#    %form.form-search.well
-#      = text_field_tag :q, '', :placeholder => 'Send social media update.', :class => 'search-query input-medium'
-#      %a{:class => "btn btn-success", :href => "#" } Update
