.row
  .col-xs-12
    %h3.headerheader.lighter= params[:site].capitalize
    %table.table.table-striped.table-bordered.table-hover
      %thead 
        %tr
          %th Payload
          %th What & Where
          %th Latest
          %th 
            Affected 
            %br
            Customers
          %th Action
      %tbody 
        - @rows.each do |row|
          %tr 
            %td= link_to row["name"], failed_job_path(id: row['id'] )
            %td= row["status_message"]
            %td= row["last_updated_at"]
            %td= row["businesses_count"]
            %td.center
              = form_tag(resolve_failed_jobs_path, method: :put) do 
                = hidden_field_tag :grouping_hash, row["grouping_hash"]
                = button_tag class: 'btn btn-primary btn-sm', name: "inject", value: true do
                  Resolve
                = button_tag class: 'btn btn-info btn-sm', name: "inject", value: "" do 
                  Remove

