%h5.blue
  Secure Order Form
  %i.icon-lock
%hr
.row.cards 
  .col-xs-12
    %label Name (as it appears on your card)
    .form-group 
      %input.col-xs-7(type="text" placeholder="Name" name="creditcard[name]")
.row.cards 
  .col-xs-12
    = image_tag 'mastercard-inactive.gif', :id => 'mastercard'
    = image_tag 'visa-inactive.gif', :id => 'visa'
    = image_tag 'american_express-inactive.gif', :id => 'american_express'
    = image_tag 'discover-inactive.gif', :id => 'discover'
    %input#creditcard_type{:name => 'creditcard[brand]', :type => 'hidden', :value => ''}
.row.cards 
  .col-xs-12
    %label Card number
    .form-group 
      %input#card_number.col-xs-5{type:"text", placeholder:"Card Number", name: "creditcard[number]"}
.row
  .col-xs-12
    %label Expiration Date
    .form-group 
      %select#card_month{:name => 'creditcard[month]'}
        - Date::MONTHNAMES[1..12].each_with_index do |name, i|
          - val = "%02d" % (i + 1)
          %option{:value => val, :selected=> (params[:creditcard] && params[:creditcard][:month]==val) }
            #{name} (#{val})
      %select#card_year{:name => 'creditcard[year]'}
        - (Time.now.year .. Time.now.year+10).to_a.each do |year|
          %option{:selected=> (params[:creditcard] && params[:creditcard][:year]==year.to_s)}
            = year
.row
  .col-xs-12
    %label Security code (3 on back, Amex: 4 on front)
    .form-group 
      %input.col-xs-2{type:"text", placeholder:"CVV", name: "creditcard[cvv]"}
      = image_tag 'card_back.png',  :style => 'margin-bottom: 10px'
      = image_tag 'card_front.png',  :style => 'margin-bottom: 10px'
.row
  .col-xs-12
    %p Enter your card number without spaces or dashes. 
