= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :id => 'checkout') do |f|
  .row
    .span10
      #errors
        - if resource.errors and resource.errors.count > 0
          - resource.errors.messages.each_key do |field|
            - resource.errors.messages[field].each do |message|
              .alert.alert-error
                %button.close{:type => "button", 'data-dismiss' => "alert"}
                  &times;
                = field.to_s.humanize unless field == :tos
                = message
        - if alert
          .alert.alert-error
            %button.close{:type => "button", 'data-dismiss' => "alert"}
              &times;
            = alert
        - if @errors
          - @errors.each do |error|
            .alert.alert-error
              %button.close{:type => "button", 'data-dismiss' => "alert"}
                &times;
              = error
  - if @is_checkout_session == true
    :javascript
      $(document).ready(function(){
        //window.registerCheckoutHooks();
      });
    %input{:type => :hidden, :name => 'package_id', :value => @package.id}/
    .row
      .span5
        %fieldset
          %legend
            Billing Summary
          %label{:for => 'package'} Initial Fee
          .input-prepend.input-append
            .add-on
              .span2.total
                Sub-Total: $
            %input.tally.span1{:value => @subtotal, :name => 'subtotal', :type => "text", :disable => 'disabled' }/
            .add-on .00
          - unless @saved.nil?
            %br
            .input-prepend.input-append
              .add-on
                .span2.total
                  Coupon: $
              %input.tally.span1{:value => @saved, :name => 'coupon_total', :type => "text", :disable => 'disabled' }/
              .add-on .00
              .add-on #{@coupon.code}
          %br
          .input-prepend.input-append
            .add-on
              .span2.total.bold
                Total: $
            %input.tally.span1{:value => @total, :name => 'total', :type => "text", :disable => 'disabled' }/
            .add-on.bold .00
          %label{:for => 'subscription'} Monthly Subscription
          .input-prepend.input-append
            .add-on
              .span2.total.bold
                Amount: $
            %input.tally.span1{:value => @amount_total, :name => 'amount_total', :type => "text", :disable => 'disabled' }/
            .add-on .00
          - unless @coupon
            .input-append
              %label{:for => 'coupon'} Coupon or Offer Code
              %input#coupon{:name => 'coupon', :placeholder => "Coupon", :type => "text", :value => (@coupon ? @coupon.code : '') }/
              %input.btn.btn-info#addCoupon{:type => 'button', :value => 'Add'}
      .span5
        %fieldset
          %legend
            Secure Order Form
            %i.icon-lock
          .control-group
            %label{:for => 'creditcard[name]'} Name (as it appears on your card)
            %input{:name => 'creditcard[name]', :placeholder => "Name", :type => "text", :required => 'required', :pattern => '\S+', :id => 'name', :value => @name }/
          .cards
            = image_tag 'mastercard-inactive.gif', :id => 'mastercard'
            = image_tag 'visa-inactive.gif', :id => 'visa'
            = image_tag 'american_express-inactive.gif', :id => 'american_express'
            = image_tag 'discover-inactive.gif', :id => 'discover'
            %input#creditcard_type{:name => 'creditcard[type]', :type => 'hidden', :value => ''}
          %label{:for => 'creditcard[number]'} Card number
          %input#card_number{:name => 'creditcard[number]', :placeholder => "Card Number", :type => "text", :required => 'required', :value => @card_number}/
          %label{:for => 'creditcard[month]'} Expiration date
          .input-append
            %select#card_month.span2{:name => 'creditcard[month]'}
              - i = 0
              - Date::MONTHNAMES[1..12].each do |name|
                - i += 1
                - val = "%02d" % i
                %option{:value => val}
                  #{name} (#{val})
            %select#card_year.span2{:name => 'creditcard[year]'}
              - (Time.now.year .. Time.now.year+10).to_a.each do |year|
                %option
                  = year
          %label{:for => 'creditcard[verification_value]'} Security code (3 on back, Amex: 4 on front)
          %input#cvv.span1{:placeholder => "CVV", :type => "text", :name => 'creditcard[verification_value]', :required => 'required', :pattern => '\S+', :value => @cvv }/
          = image_tag 'card_back.png',  :style => 'margin-bottom: 10px'
          = image_tag 'card_front.png',  :style => 'margin-bottom: 10px'
          %span.help-block Enter your card number without spaces or dashes.
  .row
    .span12
      %fieldset
        - if @is_checkout_session == true
          %legend
            Account Information
        - else
          %legend
            Reseller Sign Up
        %label{:for => 'user[email]'} Email
        %input{:name => 'user[email]', :placeholder => "Email", :type => "text", :required => 'required', :id => 'email', :value => @email }/
        - unless @callcenter
          %span.help-block We won&#39;t spam you or share your address.
          %label{:for => 'user[password]'} Choose a Password
          %input{:name => 'user[password]', :placeholder => "Password", :type => "password", :required => 'required', :id => 'password' }/
          %label{:for => 'user[password_confirmation]'} Verify Password
          %input{:name => 'user[password_confirmation]', :placeholder => "Password Confirmation", :type => "password", :required => 'required', :id => 'password_confirmation' }/
        - else
          %input{:name => 'user[password]', :type => "hidden", :value => @password }/
          %input{:name => 'user[password_confirmation]', :type => "hidden", :value => @password }/
          %input{:name => 'callcenter', :type => "hidden", :value => '1' }/
        %br
        %br
        %label.checkbox
          =f.check_box :tos
          I agree to the
          %a{:href => '/terms'}
            Terms of Service
        %br
        - if @is_checkout_session == true
          /%button.btn.btn-large.btn-info#submit_button{:type => "button"} Place Order
          %input.btn.btn-large.btn-info#submit_button{:type => "submit", :value=>'Place Order'}
        - else
          %button.btn.btn-large.btn-info#submit_button{:type => "submit"} Sign Up
  = render :partial => "devise/shared/links"
