#signup-box.signup-box.widget-box.no-border.visible
  .widget-body
    .widget-main
      =form_for @user do |f|
        = f.hidden_field :callcenter
        -if @package.nil?
          .row
            .col-sm-5
              =render partial: "sign_up_reseller",locals: { f: f } 
        -else 
          .row 
            .col-sm-6
              =render "sign_up_billing_summary"
            .col-sm-6
              =render "sign_up_credit_card"
          .row
            .col-sm-5
              =render partial: "sign_up_user",locals: { f: f } 
:javascript
  $(document).ready(function(){
    window.registerCheckoutHooks();
  });

-#= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :id => 'checkout') do |f|
  -if current_label.logo.url.present? 
    =image_tag current_label.logo.url
    %br
  .row
    .span10
      #errors
        - if resource.errors and resource.errors.count > 0
          - resource.errors.messages.each_key do |field|
            - resource.errors.messages[field].each do |message|
              .alert.alert-error
                %button.close{:type => "button", 'data-dismiss' => "alert"}
                  &times;
                = field.to_s.humanize unless field == :tos
                = message
        - if alert
          .alert.alert-error
            %button.close{:type => "button", 'data-dismiss' => "alert"}
              &times;
            = alert
        - if @errors
          - @errors.each do |error|
            .alert.alert-error
              %button.close{:type => "button", 'data-dismiss' => "alert"}
                &times;
              = error
    .span2 
  - if @is_checkout_session == true
    .row 
      .span5= render 'billing_summary' 
      .span5= render 'credit_card' 
      .span2
  .row
    .span12= render :partial => 'account_information', :locals => { :f => f } 
  = render :partial => "devise/shared/links"
