%h3 Customer Service Agent for #{current_user.full_name}

.row
  .col-xs-6
    =render "clients_not_checking_in"
    .widget-box
      .widget-header.widget-header-small.header-color-dark
        %h6 Recently Sold
      .widget-body
        .widget-main.padding-4
          .slim-scroll
            .content
              %table.table
                %tbody
                  - Business.accessible_by(current_ability).order("id desc").limit(50).each do |b| 
                    %tr
                      %td= link_to b.business_name.presence || b.id, b
                      %td= b.created_at.to_date
  .col-xs-6
    %h3 Needs to be categorized
    %table.table
      %tbody
        - Business.not_categorized.accessible_by(current_ability).order("id asc").each do |b| 
          %tr
            %td= b.business_name
            %td= b.created_at


