= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'nice'} ) do |f|
  = devise_error_messages!
  %fieldset
    %h5 Sign up
    = f.label :email
    = f.email_field :email, :class => 'input-text'
    = f.label :password
    = f.password_field :password, :class => 'input-text'
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'input-text'
    = f.submit "Sign up", :class => "nice small radius blue button"
    %br

= render "links"
