%h2
  %i.icon-lock
  Sign in
%br
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, hint:"Enter your email address"
    = f.input :password, hint:"Enter password"
  -if devise_mapping.rememberable?
    = f.input :remember_me, :as => :radio
  = f.actions do
    = f.action :submit, :as => :button, :label => 'Sign In', :button_html => {:class => "btn btn-primary"}

= render :partial => "devise/shared/links"
