#client_manager.row
  .col-xs-12
    .row
      .col-xs-6
        .row 
          .col-xs-12
            %fieldset
              %legend Select a business
              =select_tag "business", options_from_collection_for_select(@businesses, "id","business_name", @business.id), class: "chosen"
        .space-6
        .row 
          .col-xs-12
            -if current_user.admin?
              %fieldset 
                %legend Add a job for #{@business.business_name}
                =select_tag "job", options_for_select(@business.subscription.package.available_jobs), class: "chosen"
                %button#add-job.btn.btn-info.btn-sm{type: "button"}
                  Add to Pending
        .space-6
      .col-xs-6
        %dl.dl-horizontal
          %dt
          %dd= @business.business_name
          %dt Checked in
          %dd #{@business.client_checkin}
          %dt Created
          %dd #{@business.created_at}
          %dt Updated
          %dd #{@business.updated_at}
          %dt Job Queue
          %dd 
            -if @business.paused?
              %i.icon-circle.red
              Stopped
              %p.smaller= @business.paused_because
            -else 
              %i.icon-circle.green
              Running
    .row
      .col-md-12
        #preview
        %ul.nav.nav-tabs
          %li
            %a{id: "pending-link", href: "#pending", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'job'), toggle: "tab"}} Pending
          %li
            %a{href: "#latest", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'latest'), toggle: "tab"}} Completeness
          %li
            %a{href: "#failed", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'failed_job'), toggle: "tab"}} Failed
          %li
            %a{href: "#succeeded", data: { path: client_manager_jobs_path(format: :json, business_id: @business.id, name: 'completed_job'), toggle: "tab"}} Succeeded
          %li
            %a{href: "#errors", data: { path: client_manager_booboos_path(format: :json, business_id: @business.id ), toggle: "tab"}} Errors
          -if current_user.admin?
            %li
              %a{href: "#payloads", data: { path: payload_nodes_path(format: :json ), toggle: "tab"}} Payloads
        .tab-content
          #pending.tab-pane.active
          #latest.tab-pane
          #failed.tab-pane
          #succeeded.tab-pane
          #errors.tab-pane
          -if current_user.admin?
            #payloads.tab-pane
              -#%form.form-inline
                %input#new_node_name{ name: "new-node-name", placeholder: "Node name"}
                %button#add_payload_node.btn.btn-info.btn-sm{ type: "button"} Add Node 
                %button#save_payload_nodes.btn.btn-sm{ type: "button"} Save
              %div
                %a#expand-nodes{href: "#"} Expand all
                | 
                %a#collapse-nodes{href: "#"} Collapse all

              .dd
                %ol#payloads.dd-list{ "data-payload-id" => "root"}

              %h6 Trash-Em
              %p Drag nodes here to remove them.  
              #trash.dd
                .dd-empty

%script{id: "jobs-template", type: "text/x-handlebars-template"} 
  %table.table.table-striped.jobs
    %thead
      %tr
        %th Status 
        %th Name 
        %th Message
        %th Created at 
        %th 
    %tbody
      {{#each jobs}}
      %tr{ "data-job-id" => "{{id}}",  "data-class-name" => "{{class_name}}" }
        %td
          {{#if is_missing}}
          %span.missing Missing 
          {{else}}
          %button.btn.btn-xs.btn-danger.delete_job{ :title => "Delete Job" } 
            %i.icon-trash
          {{#if has_errors}}
          %span.btn.btn-xs.btn-inverse.rerun{title: "Rerun Job"} 
            %i.icon-refresh
          {{/if}}
          %span.btn.btn-xs.btn-info.view_meta{ :title => "View Meta" }
            %i.icon-file-text
          .hide.meta
            %h4 Payload
            %p {{payload}} 
            %hr.hr-12.hr-double
            %h4 Data 
            %p {{data}}
            %hr.hr-12.hr-double
            %h4 Status Message 
            %p {{status-message}}
            %hr.hr-12.hr-double
            %h4 Backtrace 
            %p {{backtrace}}
            %hr.hr-12.hr-double
            %img{ src: "{{screenshot_url}}", alt: "No screen shot"} 
          {{/if}}
        %td {{name}}
        %td
          .status-message{ title: "{{status_message}}"} {{status_message}}
        %td {{created_at}}
        %td
          {{/each}}

%script{id: "booboos-template", type: "text/x-handlebars-template"} 
  %table.table.table-striped
    %tbody
      {{#each booboos}}
      %tr.view_booboo
        %td {{message}}
      {{/each}}

:javascript 
  $( function(){ 
    window.business_id = "#{@business.id}";
    initialize_client_manager(); 
    }); 
