.row
  .col-xs-12
    - if @label.errors.any? 
      .alert.alert-danger 
        %ul 
          - @label.errors.full_messages.each do |m| 
            %li=m

    = form_for @label, html: { class: "form-horizontal", multipart: true} do |f|
      .form-group
        = f.label :parent, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.select :parent_id, 
            options_from_collection_for_select(Label.all,'id','name', @label.parent_id.to_s),
            {include_blank: true,  :class => "col-xs-10 col-sm-5" }

      .form-group
        = f.label :name, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :name, :class => "col-xs-10 col-sm-5", :placeholder => "Name"
      .space-4
      .form-group
        = f.label :domain, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :domain, :class => "col-xs-10 col-sm-5", :placeholder => "sync.somewhere.com"

      .form-group
        = f.label :label_domain, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :label_domain, :class => "col-xs-10 col-sm-5", :placeholder => "somewhere.com"

      .form-group
        = f.label :mail_from, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.email_field :mail_from, :class => "col-xs-10 col-sm-5", :placeholder => "support@somewhere.com"
      .form-group
        = f.label :support_email, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.email_field :support_email, :class => "col-xs-10 col-sm-5", :placeholder => "support@somewhere.com"
      .form-group 
        = f.label :report_email_body, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_area :report_email_body, :class => "col-xs-10 col-sm-5", :placeholder => ""
      .form-group 
        = f.label :address, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_area :address, :class => "col-xs-10 col-sm-5", :placeholder => "123 Main Street"
      .form-group
        = f.label :available_balance, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :available_balance, :class => "col-xs-10 col-sm-5", :placeholder => "10.23"

      .form-group
        = f.label :package_signup_rate, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :package_signup_rate, :class => "col-xs-10 col-sm-5", :placeholder => "10.23"
      .form-group
        = f.label :package_subscription_rate, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :package_subscription_rate, :class => "col-xs-10 col-sm-5", :placeholder => "10.23"

      .form-group
        = f.label :credit_limit, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9
          = f.text_field :credit_limit, :class => "col-xs-10 col-sm-5", :placeholder => "10.23"


      .form-group
        = f.label :favicon, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9 
          -if @label.favicon.present?
            %div
              = image_tag @label.favicon.url
            %br
          = f.file_field :favicon

      .form-group
        = f.label :logo, :class => "col-sm-3 control-label no-padding-right"
        .col-sm-9 
          -if @label.logo.present?
            %div
              = image_tag @label.logo.url
            %br
          = f.file_field :logo
      %fieldset
        %legend Sales Info 
        %p Who can the customer contact to purchase the product?
        .form-group
          = f.label :sales_phone, :class => "col-sm-3 control-label no-padding-right"
          .col-sm-9
            = f.text_field :sales_phone, :class => "col-xs-10 col-sm-5", :placeholder => "800-555-1212"
        .form-group
          = f.label :sales_email, :class => "col-sm-3 control-label no-padding-right"
          .col-sm-9
            = f.text_field :sales_email, :class => "col-xs-10 col-sm-5", :placeholder => "sales@yoursite.com"
        .form-group
          = f.label :website_url, :class => "col-sm-3 control-label no-padding-right"
          .col-sm-9
            = f.text_field :website_url, :class => "col-xs-10 col-sm-5", :placeholder => "http://www.yoursite.com"
            .pull-left.col-sm-5
              This is what would a user type in a browser to visit your website.
        .form-group
          = f.label :website_name, :class => "col-sm-3 control-label no-padding-right"
          .col-sm-9
            = f.text_field :website_name, :class => "col-xs-10 col-sm-5", :placeholder => "Your Site"
            .pull-left.col-sm-5
              We place a link on the scan report pointing to your website, but instead of displaying a bunch of gobledy-gook, you can specify
              a name for the link. For example, the name 
              %a{href: "http://www.google.com"}Google 
              points to http://www.google.com
        
      .clearfix.form-actions
        .col-md-offset-3.col-md-9
          %button.btn.btn-info(type="submit") 
            %i.icon-ok.bigger-110
            Save
          %button.btn(type="reset")
            %i.icon-undo.bigger-110
            Reset

