%table{ :border => "1"}
  -for header in request.env.select {|k,v| k.match("^HTTP.*")} do
    %tr
      %td
        = header[0].split('_',2)[1]
      %td
        = header[1]

%h1 Listing jobs
%table
  %tr
    %th User
    %th Name
    %th Status
    %th Payload
    %th
    %th
    %th
  - @jobs.each do |job|
    %tr
      %td= job.user_id
      %td= job.name
      %td= job.status
      %td= job.payload
      %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Job', new_job_path
