%table.table.table-striped.show-table
  %tbody
    %tr
      %td Name
      %td= "#{@user.prefix} #{@user.first_name} #{@user.last_name}".presence || "Not provided"
    %tr
      %td Phone 
      %td= @user.mobile_phone.presence || "Not provided"
    %tr
      %td Email 
      %td= @user.email
    %tr
      %td Birthdate
      %td= @user.date_of_birth.present? ? l(@user.date_of_birth, format: :long): "None given"
    %tr
      %td Gender
      %td= @user.gender
    %tr
      %td Role 
      %td= @user.role_is
    %tr
      %td Business
      %td
        - if @user.businesses.any?
          = link_to @user.businesses.first.business_name, business_path( @user.businesses.first) 
        - else 
          Not assigned
    %tr
      %td Subscription
      %td
        - if @user.businesses.any? && @user.businesses.first.subscription.present? 
          - sub = @user.businesses.first.subscription
          =link_to number_to_currency(sub.monthly_fee/100) + " per month", subscription_path(sub)
    - if @user.is_a?(Manager) || user.is_a?(CustomerServiceAgent) 
      %tr 
        %td Cost Center
        %td= @user.cost_center.present? && @user.cost_center.name
    - if @user.is_a?(SalesAgent)
      %tr 
        %td Referrer Code
        %td= @user.referrer_code
    %tr
      %td Operating System
      %td= @user.operating_system
    %tr
      %td Web Browser 
      %td= @user.browser 

= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info"

-#
  .center 
    %span.btn.btn-app.btn-sm.btn-yellow.no-hover 
      %span.line-height-1.bigger-170 8
      %br/ 
      %span.line-height-1.smaller-90 
        Action
        %br/
        Items
    %span.btn.btn-app.btn-sm.btn-pink.no-hover 
      %span.bigger-170.line-height-1 4
      %br/ 
      %span.smaller-90.line-height-1 
        Activity
        %br/
        Alerts
    %span.btn.btn-app.btn-sm.btn-light.no-hover 
      %span.bigger-170.line-height-1 25
      %br/ 
      %span.smaller-90.line-height-1 
        Sync'd
        %br/
        Accounts 
    %span.btn.btn-app.btn-sm.btn-success.no-hover 
      %span.bigger-170.line-height-1 25
      %br/ 
      %span.smaller-90.line-height-1 
        Live 
        %br/
        Listings
  .space-12
  .profile-user-info.profile-user-info-striped
    .profile-info-row 
      .profile-info-name Name
      .profile-info-value
        %span= "#{@user.first_name} #{@user.last_name}".presence || "Not provided"
    .profile-info-row 
      .profile-info-name Phone
      .profile-info-value
        %span= @user.mobile_phone.presence || "Not provided"
    .profile-info-row 
      .profile-info-name Email
      .profile-info-value 
        %span.editable= @user.email
    .profile-info-row 
      .profile-info-name Role
      .profile-info-value 
        %span.editable= @user.role_is

