= semantic_form_for @business, :validate => true, :html => { :class => 'business-form.form-horizontal' } do |f|
  - @accounts = [] if @accounts.nil?
  = f.semantic_errors
  - @f = f
  #business_steps.pf-form
    .row-fluid
      .span3
        .step-title
          %span.step-order 1.
          %span.step-name Contact Information
        .step-title
          %span.step-order 2.
          %span.step-name Business Details
        .step-title#hrs_payment
          %span.step-order 3.
          %span.step-name Hours and Payment
        .step-title
          %span.step-order 4.
          %span.step-name Business Description
        .step-title
          %span.step-order 5.
          %span.step-name Manage Images
        .step-title
          %span.step-order 6.
          %span.step-name Existing Accounts
        - unless @business.is_client_downloaded
          .step-title
            %span.step-order 7
            %span.step-name Download Client
      .span9.well.clearfix
        .star_required
          %span(style="color:red;")= "*"
          = t("star_fields_are_required")
        .step-content= render :partial => 'form/contact_information'
        .step-content= render :partial => 'form/business_details'
        .step-content= render :partial => 'form/hours_and_payment'
        .step-content= render :partial => 'form/company_description'
        .step-content= render :partial => 'form/logo'
        /.step-content= render :partial => 'form/edit_accounts'
        .step-content#edit-accounts-area
          %h4 Loading Accounts...
        -unless @business.is_client_downloaded
          .step-content= render :partial => 'form/download_client'
        = render :partial => 'form/submit', :locals => { :f => f }

:javascript
  window.is_client_downloaded = #{ @business.is_client_downloaded };
  var $poped = $("#business_business_mobile_appears_true, #business_business_mobile_appears_false, #business_mobile_appears_true, #business_alternate_phone, #business_mobile_phone, #business_business_name, #business_corporate_name, #business_local_phone, #business_toll_free_phone, #business_fax_number, #business_zip, #business_business_description, #business_keywords, #business_status_message, #business_services_offered, #business_trade_license, #business_trade_license_number, #business_trade_license_locale, #business_trade_license_authority, #business_trade_license_expiration, #business_trade_license_description, #business_brands, #business_tag_line, #business_job_titles, #business_professional_associations, #business_geographic_areas, #business_year_founded, #business_company_website, #business_category1, #business_category2, #business_category3, #business_category4")
  $poped.popover({html: true});
  var $unpoped = $("#business_address, #business_address2, #business_state, #business_city_input, #business_address2_input, #business_city_input, #business_state_input, #business_contact_birthday, #business_contact_last_name_input, #business_contact_middle_name_input, #business_contact_first_name_input, #business_contact_gender_input, #business_contact_prefix_input")
  $unpoped.each(function() {
    var $this = $(this);
    $this.on('focus',function() {
      $poped.popover('hide');
    });
    $this.on('click',function() {
      $poped.popover('hide');
    });
  });

  $poped.each(function() {
    var $this = $(this);
    $this.unbind('click');
    $this.on('focus',function() {
      var popover = $this.data('popover');
      var shown = popover && popover.tip().is(':visible');
      if(shown) return;
      $poped.popover('hide');
      setTimeout(function(){$this.popover('show');}, 500);
    });
  }); 

  $(".btn, .next-button").on('click',function() {$poped.popover('hide');});
