%section{:id => 'section-business-details'}
  = @f.inputs :business_details,  :class => 'inputs tab-pane', :id => 'section1' do
    = @f.input :business_name
    = @f.input :corporate_name
    = @f.input :contact_prefix,     :as => :select, :collection => Business.prefix_list
    = @f.input :contact_gender,     :as => :select, :collection => Business.gender_list
    = @f.input :contact_first_name, :input_html => { 'data-content' => I18n.t('popovers.business.contact_first_name.content'),  'title' => I18n.t('popovers.business.contact_first_name.title'), :rel => 'popover' }
    = @f.input :contact_middle_name, :input_html => { 'data-content' => I18n.t('popovers.business.contact_middle_name.content'),  'title' => I18n.t('popovers.business.contact_middle_name.title'), :rel => 'popover' }
    = @f.input :contact_last_name, :input_html => { 'data-content' => I18n.t('popovers.business.contact_last_name.content'),  'title' => I18n.t('popovers.business.contact_last_name.title'), :rel => 'popover' }
    = @f.input :contact_birthday,   :input_html => { 'data-content' => I18n.t('popovers.business.contact_birthday.content'), 'title' => I18n.t('popovers.business.contact_birthday.title'), :rel => 'popover' }
    = @f.input :local_phone,        :input_html => { 'data-content' => I18n.t('popovers.business.local_phone.content'), 'title' => I18n.t('popovers.business.local_phone.title'),    :rel => 'popover' }
    = @f.input :alternate_phone
    = @f.input :toll_free_phone,    :input_html => { 'data-content' => I18n.t('popovers.business.toll_free_phone.content'), 'title' => I18n.t('popovers.business.toll_free_phone.title'),    :rel => 'popover' }
    = @f.input :mobile_phone,   :input_html => { 'data-content' => I18n.t('popovers.business.mobile_phone.content'), 'title' => I18n.t('popovers.business.mobile_phone.title'),    :rel => 'popover' }
    = @f.input :mobile_appears
    = @f.input :fax_number
    = @f.input :address,            :input_html => { 'data-content' => I18n.t('popovers.business.address.content'), 'title' => I18n.t('popovers.business.address.title'),    :rel => 'popover' },    :wrapper_html=>{:class=>'input-append'}
    = @f.input :address2
    = @f.input :city
    = @f.input :state,              :as => :select, :collection => Carmen::states('US')
    = @f.input :zip
    #map
