%section{:id => 'section-categories'}
  = @f.inputs "Categories", :class => 'inputs tab-pane', :id => 'section8' do
    %p The next most important aspect of your business profile is the following categories. Select 3 categories, the first one is the primary category and is the most important. The next two are used on many sites but only as secondary or tertiary categories.
    = @f.input :category1, :label => 'Category 1', :hint => "Examples: Dentist, Wedding Photographer, Tahi Restaurant"
    = @f.input :category2, :label => 'Category 2', :hint => "Examples: Dentist, Wedding Photographer, Tahi Restaurant"
    = @f.input :category3, :label => 'Category 3', :hint => "Examples: Dentist, Wedding Photographer, Tahi Restaurant"
    = @f.input :category4, :label => 'Category 4', :hint => "Examples: Dentist, Wedding Photographer, Tahi Restaurant"
    = @f.input :category5, :label => 'Category 5', :hint => "Examples: Dentist, Wedding Photographer, Tahi Restaurant"
