%section{:id => 'section-categories'}
  = @f.inputs "Categories", :class => 'inputs tab-pane', :id => 'section8' do
    = @f.input :category1
    = @f.input :category2
    = @f.input :category3
    = @f.input :category4
    = @f.input :category5
