= @f.inputs "Company Description", :id => 'section4' do 
  .well
    = @f.input :business_description,      :placeholder => 'Business Description'
    = @f.input :professional_associations, :placeholder => 'Professional Associations and Memberships'
    = @f.input :geographic_areas,          :as => :select, :collection => Business.geographic_areas_list, :label => 'Geographic Area Serviced'
    = @f.input :year_founded,              :placeholder => 'Year Founded'
    = @f.input :company_website, :placeholder => 'Company Website'
    = @f.input :fan_page_url,    :placeholder => 'Facebook Fan Page URL'
    = @f.input :competitors,      :placeholder => 'Who are your direct competitors?'
    = @f.input :most_like,        :placeholder => 'What company is most like yours?  (size, revenue, services offered, locale)'
    = @f.input :industry_leaders, :placeholder => 'Who are the industry leaders?'
