%section{:id => 'section-company-description'}
  = @f.inputs "Company Description", :class => 'inputs tab-pane', :id => 'section4' do 
    = @f.input :business_description,      :placeholder => 'Business Description'
    = @f.input :professional_associations, :placeholder => 'Professional Associations and Memberships'
    = @f.input :geographic_areas,          :as => :select, :collection => Business.geographic_areas_list, :label => 'Geographic Area Serviced'
    = @f.input :year_founded,              :placeholder => 'Year Founded'
    = @f.input :company_website, :placeholder => 'Company Website'
