.control-group
  %label.control-label{:for => "business[#{@site[1]}_attributes][0][#{@field[1]}]"} #{@field[1]}
  .controls
    - if @field[0] == 'text' and @field[1] == 'password'
      %input{:type => 'password', :size => "30", :name => "business[#{@site[1]}_attributes][0][#{@field[1]}]", :value => @obj.send(@field[1]), :id => "business_#{@site[1]}_attributes_0_#{@field[1]}"}/
      %input{:class => "btn btn-info", :type => "button", :value => "Show", :onclick => "window.togglePasswordField(this)"}
    - else
      %input{:type => @field[0], :size => "30", :name => "business[#{@site[1]}_attributes][0][#{@field[1]}]", :value => @obj.send(@field[1]), :id => "business_#{@site[1]}_attributes_0_#{@field[1]}"}/
    %input{:type => "hidden", :value => "false", :name => "business[#{@site[1]}_attributes][0][_destroy]", :id => "business_#{@site[1]}_attributes_0__destroy"}/
    %br/
    %input{:type => "hidden", :value => @obj.id, :name => "business[#{@site[1]}_attributes][0][id]", :id => "business_#{@site[1]}_attributes_0_id" }
