%section{:id => 'section-payment-methods'}
  = @f.inputs "Payment Methods", :class => 'inputs tab-pane', :id => 'section2' do
    %ul.payment_methods
      - @business.payment_methods.each do |type|
        %li.payment_method
          %label.checkbox
            = @f.check_box "accepts_#{type}".to_sym
            = type.capitalize
%section{:id => 'section-business-hours'}
  = @f.inputs "Business Hours", :class => 'inputs tab-pane', :id => 'section3' do
    %table.table.table-condensed#timetable
      %thead
        %tr
          %td Day
          %td Open
          %td Close
          %td Set
      %tbody
        - ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].each do |day|
          %tr.timerow
            %td
              %label.checkbox
                = @f.check_box "#{day}_enabled".to_sym,:class => "bussiness_hours_checkbox"
                = day.capitalize
            %td
              = select_tag "business[#{day}_open]".to_sym, options_for_select(Business.list_times, @business.send("#{day}_open")), :class => 'timeitem'
            %td
              = select_tag "business[#{day}_close]".to_sym, options_for_select(Business.list_times, @business.send("#{day}_close")), :class => 'timeitem'
              -# if @business.send("#{day}_enabled")
            %td
              - if day == 'monday'
                = link_to "Everyday", "#", :class => 'set_business_hours btn btn-success'
                = link_to "Weekdays", "#", :class => 'set_weekday_hours btn btn-info'
        %tr.timerow
          %td{:colspan => 3}
            %label.checkbox
              = @f.check_box :open_24_hours
              Open 24 Hours
        %tr.timerow
          %td{:colspan => 3}
            %label.checkbox
              = @f.check_box :open_by_appointment
              Open By Appointment
