= @f.inputs "Keywords" do
  .well
    = @f.input :keyword1, :placeholder => 'Keyword that describes the business.'
    = @f.input :keyword2, :placeholder => 'Keyword that describes the business.'
    = @f.input :keyword3, :placeholder => 'Keyword that describes the business.'
    = @f.input :keyword4, :placeholder => 'Keyword that describes the business.'
    = @f.input :keyword5, :placeholder => 'Keyword that describes the business.'
