%section{:id => 'logo-section'}
  #logo-display
  %h3
    Logo
  %p= I18n.t('popovers.business.logo.logo_content')  
  #show-logo
    - image = @business.logo
    #logo_shown= image_tag image.medium unless image.nil?
  %h3 Additional Images
  %p= I18n.t('popovers.business.logo.additional_logo_content')
  #uploader
  #thumbnails
    %ul.thumbnails
      - @business.images.each do |image|
        %li.span4{:id => "thumbnail#{image.id}"}
          = image.id
          .thumbnail
            = link_to image_tag(image.thumb), image.url, :title => image.position
            %h3
              = image.position
            %button.btn.btn-info.remove_thumbnail{'data-image-id' => image.id}
              Remove
  :javascript
    window.business_id = '#{@business.id}';
