%div 
  - if @business.is_client_downloaded
    = submit_tag "Save Changes", :class => 'btn btn-primary save-changes'
    %a.next-button.btn.btn-large.btn-primary Next
    %a.back-button.btn.btn-large.btn-primary Back
  - else 
    %a.next-button.btn.btn-large.btn-primary Next
    %a.back-button.btn.btn-large.btn-primary Back
-#
  %section{:id => 'section-save'}
  = @f.actions do
  - if @business.new_record?
    %a.btn.btn-large.btn-primary{:id => "next_tab", :href => "#tab2"} Next
    = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
    = link_to "Cancel Changes", @business, :class => 'btn btn-danger cancel'
  - else
    = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
    = link_to "Cancel Changes", @business, :class => 'btn btn-danger cancel'
