%div 
  %a.next-button.btn Next
  %button.submit-button.btn Submit
  %a.back-button.btn Back
/ 
  %section{:id => 'section-save'}
  = @f.actions do 
    - if @business.new_record? 
      %a.btn.btn-large.btn-primary{:id => "next_tab", :href => "#tab2"} Next
      = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
      = link_to "Cancel Changes", @business, :class => 'btn btn-danger cancel'
    - else 
      = submit_tag "Save Changes", :class => 'btn btn-large btn-primary'
      = link_to "Cancel Changes", @business, :class => 'btn btn-danger cancel'
