%tr
  %td= truncate(coupon.name, length: 15)
  %td
    = coupon.code
  %td
    = coupon.percentage_off_monthly
  %td.hidden-480
    = coupon.percentage_off_signup
  %td
    = coupon.dollars_off_signup
  %td
    = coupon.dollars_off_monthly
  %td
    = coupon.redeemed_count
  %td
    = coupon.allowed_upto
  %td.hidden-480
    %span.label.label-sm.label-warning Active
  %td
    %a.btn.btn-xs.btn-success{:href => coupon_path(coupon)}
      %i.icon-ok.bigger-120
    %a.btn.btn-xs.btn-info{:href => edit_coupon_path(coupon)}
      %i.icon-edit.bigger-120
    %a.btn.btn-xs.btn-danger{:href => coupon_path(coupon), :method => :delete, :confirm => "Are you sure?"}
      %i.icon-trash.bigger-120
