= semantic_form_for(@job) do |f|
  = f.inputs "Job Details" do
    = f.input :name
    = f.input :data_generator
    = f.input :status
    = f.input :status_message
    = f.input :wait
    = f.input :position
