%h1 Listing customers
.widget-box 
  .widget-header 
    %h4 Search 
  .widget-body
    .widget-main
      -#=search_form_for @q, url: customers_path, class:"form-search" do |f|
        .input-group
          =f.text_field :business_name_cont,  placeholder: "Business Name", class: "form-control search-query"
          %span.input-group-btn
            %button.btn.btn-purple.btn-sm
              Search
              %i.icon-search.icon-on-right.bigger-110
      .space-6
      %select#business_id.chosen-select{ "data-placeholder" => "Customer Search..."}

.dataTables_wrapper
  %table.table.table-striped.table-bordered.table-hover.dataTable
    %thead
      %tr
        %th 
          Name
        %th Business ID
        %th Owner
        %th 
          Client
          %br
          %small (Check-in/Version)
        %th Categorized?
        %th 
          Subscription
          %br
          %small (Click to view)

        %th Actions
    %tbody 
      - @customers.each do |customer|
        %tr
          %td
            = link_to customer.business_name.presence || customer.id, edit_business_path(customer)
          %td= customer.id
          %td
            =link_to "#{customer.user.first_name} #{customer.user.last_name}".presence || "(no name)", customer.user
          %td= (customer.client_checkin.nil? ? 'No' : 'Yes') + ' / ' + customer.client_version
          %td= customer.categorized? ? 'Yes' : 'No'
          %td
            -if customer.subscription.present? 
              =link_to (customer.subscription.active ? "Active":"Inactive"), customer.subscription
          %td
            - if can? :read, customer
              = link_to 'Show', customer
              | 
              = link_to 'Add Note', new_business_note_path(customer)
              |
            - if can? :create, ClientData
              = link_to 'Categorize', "/categories?business_id=#{customer.id}"
              |
            - if can? :read, FailedJob
              = link_to 'CM', "/client_manager?business_id=#{customer.id}"
              |
            - if can? :manage, customer.user
              -if customer.user.present? 
                =link_to 'Impersonate', new_impersonation_path(customer.user)
              - else 
                No Owner Assigned
  .row 
    .col-xs-5
      .dataTables_info
        = page_entries_info @customers
    .col-xs-7
      .dataTables_paginate.paging_bootstrap
        = will_paginate @customers, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1

:javascript 
  window.business_id = #{params[:q] ? params[:q][:id_eq]:'""'};

  $( function() {  
    options_template = Handlebars.compile($("#options-template").html()); 

    $.getJSON("/businesses.json", function(data) {  
      $("#business_id").html( options_template(data));
      $("#business_id").val( window.business_id ); 

      $(".chosen-select").chosen();

      $("#business_id").on( 'change', function() {  
        window.location.href = "/customers?q[id_eq]=" + $(this).val()
      } );
      }); 
  });

%script{id: "options-template", type: "text/x-handlebars-template"} 
  {{#each businesses}}
  %option{ value: "{{id}}" } {{business_name}} ( {{id}} )
  {{/each}}


