%h2 Resend unlock instructions

= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, hint:"Enter your email address"
  = f.actions do
    = f.action :submit, :as => :button, :label => 'Resend unlock instructions', :button_html => {:class => "btn btn-primary"}

= render :partial => "devise/shared/links"
