.row
  .col-xs-12
    #code-step-1
      .code-box 
        %h3 #{@code.site_name.capitalize} phone verification 
        %p 
          In order to fully validate your listing with #{@code.site_name.capitalize} you may need to perform a phone verification with them.  This process is simple and usually only takes a few minutes.  After you click 
          %strong "Start Sign-In" 
          you will receive a call within 5-10 minuets to #{@code.business.mobile_phone}.  An operator will give you a numeric code, enter this into the form and click 
          %strong "Verify".

      .alert
        %h3 #{@code.business.mobile_phone}
        %p 
          You will need to answer this number immediately after you click 
          %strong "Start Sign-In"
          so be sure you phone is nearby and available. 
      %form{id: 'phone_verification_job_data'} 
        =hidden_field_tag :business_id, @code.business_id 
        =hidden_field_tag :name, "#{@code.site_name.capitalize}/#{@code.next_job}"
        %button.btn{id: 'start_call', type: 'button'} Start Sign-In
    #code-step-2{:style => 'display: none;'}
      .code-box 
        %h3 Signing in...
        %p You may receive a call within 5-10 minues. If you receive the call, enter the code provided into the box below.  If the call does not come or you are not able to answer then this page will automatically be returned to the dashboard and you can retry phone verification again.

      .alert
        %h3 A call may be placed to #{@code.business.mobile_phone}
        %p Wait for the call, please enter the code in the box below. 

      = form_for [:business, @code], :html => { class: 'form-inline'} do |f|
        =f.text_field :code 
        =f.hidden_field :site_name 
        =f.button "Verify", :class=>'btn' 
        = link_to "Cancel", dashboard_index_url, class: "btn btn-danger"

