= form_for @ping do |f|
  -if @ping.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ping.errors.count, "error")} prohibited this ping from being saved:"
      %ul
        - @ping.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :business_id
    = f.number_field :business_id
  .field
    = f.label :message
    = f.text_field :message
  .actions
    = f.submit 'Save'
