%h1 Listing pings

%table
  %tr
    %th User
    %th Business
    %th Message
    %th
    %th
    %th

  - @pings.each do |ping|
    %tr
      %td= ping.user_id
      %td= ping.business_id
      %td= ping.message
      %td= link_to 'Show', ping
      %td= link_to 'Edit', edit_ping_path(ping)
      %td= link_to 'Destroy', ping, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ping', new_ping_path
