%h3 Scan Results

%h4#name
  = @report.business
%h4#zip
  = @report.zip
%h4#zip
  = @report.phone

%br
%br

:css
  .siteButton {
    text-align: left;
    width: 200px;
    font-size: 15pt;
  }
  .siteName {
    width: 250px;
    font-size: 15pt;
  }
  .siteAction {
    width: 100%;
    text-align: center;
  }

%table.table.table-striped
  %thead
    %tr
      %td Status
      %td Site
      %td Phone
      %td Address
      %td Link to Profile
  %tbody
    - @report.scans.order(:site).each do |scan|
      %tr
        %td
          - if scan.status == 'claimed'
            %a.btn.btn-large.btn-success.siteButton{:href => "#", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Your business is listed and claimed.', 'title' => nil}
              %i.icon-ok-sign
              Listed &amp; Claimed
          - elsif scan.status == 'listed'
            %a.btn.btn-large.btn-warning.siteButton{:href => "#", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Your business is listed, but not claimed.', 'title' => nil}
              %i.icon-minus-sign
              Listed
          - else
            %a.btn.btn-large.btn-danger.siteButton{:href => "#", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Your business is not listed.', 'title' => nil}
              %i.icon-exclamation-sign
              Unlisted
        %td
          %a.btn.btn-large.siteName{:href => "##{scan.site}", 'data-toggle' => 'popover', 'data-content' => Site.get(scan.site), 'data-original-title' => scan.site_name}
            #{scan.site_name}
        %td #{scan.listed_phone}
        %td #{scan.listed_address}
        %td
          - if scan.listed_url and scan.listed_url != ''
            %a.btn.btn-large.btn-primary{:href => scan.listed_url, :target => '_blank'}
              %i.icon-link
              Link

%br
%br

.siteAction
  %a.btn.btn-primary.btn-large{:href => "/users/sign_up?package_id=#{@report.package_id}"}
    Fix These Errors

%br
%br
%form.form-search{:role => "form", :action => '/scanner/send', :method => :post}
  .form-group
    %label.sr-only{:for => "report_email"} Have this report sent to your email:
  %input{:type => :hidden, :name => :ident, :value => @report.ident}/
  %input.span4.search-query{:placeholder => "Enter email", :type => "email", :name => 'email'}/
  %input.btn.btn-default{:type => :submit, :value => "Email Me The Report"}
%br/

:javascript
  $('.siteButton').tooltip();
  $('.siteName').popover({ trigger: 'hover', html: true });
