%h3 Scan in Progress

%h4#name
  = @name
%h4#zip
  = @zip
%h4#zip
  = @phone

#sites
  %h2#message Scanning...

%br/
%br/
%img{:src => '/assets/progress.gif'}
%br/
%br/

#email_report_group
  %form.form-search{:role => "form"}
    .form-group
      %label.sr-only{:for => "report_email"} Send this report to my email:
    %input#report_email.span4.search-query{:placeholder => "Enter email", :type => "email"}/
    %input.btn.btn-default#set_email{:type => :button, :value => "Email Me The Report"}
%br/
%br/
:javascript
  function checkProgress() {
    $.getJSON('/scanner/check.json?ident=#{@report.ident}', function(data) {
      if (data['status'] == 'error') {
        $('#message').html(data['message']);
      } else if (data['status'] == 'running') {
        $('#message').html(data['message']);
      } else if (data['status'] == 'finished') {
        $('#message').html(data['message']);
        window.location.replace("/scan/#{@report.ident}");
      } else {
        $('#message').html('Unknown error');
      }
    });
  }
  $(document).ready(function(){
    var intervalID = window.setInterval(checkProgress, 5000);
    $('#set_email').click(function(){
      $.post('/scanner/email', {'email': $('#report_email').val(), 'ident': '#{@report.ident}'}).done(function(data){
        $('#email_report_group').html('You will receive an email with your report shortly.')
      });
    });
  });
