#login-box.login-box.visible.widget-box.no-border
  .widget-body
    .widget-main
      %h4.header.blue.lighter.bigger
        %i.icon-coffee.green
        Please Enter Your Information
      .space-6
      - if params[:user]
        - if params[:user][:email] == "" && params[:user][:password] == ""
          .alert.alert-danger
            = "Email and password can't be blank."
        - elsif params[:user][:email] == ""
          .alert.alert-danger
            = "Email can't be blank."
        - elsif params[:user][:password] == ""
          .alert.alert-danger
            = "Password can't be blank."
        - elsif !params[:user][:email].match(/\A[^@]+@([^@\.]+\.)+[^@\.]+\z/.to_s)
          .alert.alert-danger
            = "Email is invalid."
        - elsif params[:failure_reason] == :not_found_in_database
          .alert.alert-danger
            = "Account not registered. "
            =# link_to "Sign up here!", new_user_registration_path
        -elsif params[:failure_reason] == :invalid
          .alert.alert-danger
            = "Account registered. "
            = link_to "Forgot your password?", new_user_password_path
        -elsif alert
          .alert.alert-danger
            = flash[:alert]
      -if notice
        .alert.alert-success
          = flash[:notice]
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %fieldset 
          %label.block.clearfix
            %span.block.input-icon.input-icon-right 
              = f.text_field :email, :placeholder => 'EMail', class: 'form-control' 
              %i.icon-user
          %label.block.clearfix
            %span.block.input-icon.input-icon-right 
              = f.password_field :password, placeholder: 'Password', class: 'form-control' 
              %i.icon-lock
          .space
          .clearfix
            %label.inline
              =f.check_box :remember_me, class: 'ace'
              %span.lbl Remember Me
            %button.width-35.pull-right.btn.btn-sm.btn-primary{ type: "submit"}
              %i.icon-key
              Login
          .space-4 
    .toolbar.clearfix
      %div
        %a.forgot-password-link( href="#" onclick="show_box('forgot-box'); return false;")
          %i.icon-arrow-left
          I forgot my password
    -#%div
      %a.user-signup-link( href="#" onclick="show_box('signup-box'); return false;")
        I want to register
        %i.icon-arrow-right
