%h3.page-title
  Login
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  = f.semantic_errors
  = f.inputs do
    .control-group
      %label 
      - if params[:user]
        - if params[:user][:email] == "" && params[:user][:password] == ""
          .controls.alert.alert-error.span4
            = "Email and password can't be blank."
        - elsif params[:user][:email] == ""
          .controls.alert.alert-error.span4
            = "Email can't be blank."
        - elsif params[:user][:password] == ""
          .controls.alert.alert-error.span4
            = "Password can't be blank."
        - elsif !params[:user][:email].match(/\A[^@]+@([^@\.]+\.)+[^@\.]+\z/.to_s)
          .controls.alert.alert-error.span4
            = "Email is invalid."
        - elsif params[:failure_reason] == :not_found_in_database
          .controls.alert.alert-error.span4
            = "Account not registered. "
            =# link_to "Sign up here!", new_user_registration_path
        -elsif params[:failure_reason] == :invalid
          .controls.alert.alert-error.span4
            = "Account registered. "
            = link_to "Forgot your password?", new_user_password_path
        -elsif alert
          .controls.alert.alert-error.span4
            = flash[:alert]
    = f.input :email,    hint:"Enter your email address"
    = f.input :password, hint:"Enter password"
  -if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean, :class => 'span4'
  = f.actions do
    = f.action :submit, :as => :button, :label => 'Sign In', :button_html => {:class => "btn btn-primary"}

= render :partial => "devise/shared/links"
