%h1
  = @business.business_name
%h3 Categorized: #{@categorized}
%h1
  Category: 
  %span#category_main
    = @category
%button.btn.btn-warning#show_allcategories
  Reset All Categories
%br
%br

:css
  #category_main {
    color: #A00;
  }
  .category_selected {
    color: #00A;
  }

%script{:src => "/assets/active_admin_categories.js"}
%form#categoryForm{:action => '/categories', :method => 'post'}
  %input#business_id{:type => :hidden, :name => 'business_id', :value => @business.id}/
  - @categories.each do |row|
    - klass, js, loadButton, category_id = *row
    %script{:src => "/categories/#{klass}.js"}
    %div{:class => 'category_show'}
      %h2= klass.to_s
      %h3.category_selected{:id => "title_#{klass}"}
      = raw loadButton
      %input{:type => 'hidden', :name => "category[#{klass}]", :id => "category_#{klass}", :value => category_id}
      %div{:class => 'selector', :id => "selector_#{klass}"}
  %input.btn.btn-info{:type => :submit, :value => 'Submit Categories'}

