<%= form_for(@yelp) do |f| %>
  <% if @yelp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yelp.errors.count, "error") %> prohibited this yelp from being saved:</h2>

      <ul>
      <% @yelp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_id %><br />
    <%= f.number_field :business_id %>
  </div>
  <div class="field">
    <%= f.label :cat %><br />
    <%= f.text_field :cat %>
  </div>
  <div class="field">
    <%= f.label :subcat %><br />
    <%= f.text_field :subcat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
