= form_for @booboo do |f|
  -if @booboo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booboo.errors.count, "error")} prohibited this booboo from being saved:"
      %ul
        - @booboo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :business_id
    = f.number_field :business_id
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :ip
    = f.text_field :ip
  .field
    = f.label :user_agent
    = f.text_field :user_agent
  .actions
    = f.submit 'Save'
