.page-header
  %h1 Site Profile
.row
  .col-xs-6
    %h4 Site 
    %p= @site.name
    %h4 Owner
    %p= @site.owner 
    %h4 Founded
    %p= @site.founded
    %h4 Notes
    %p= @site.notes
    %h4 Alexa US Traffic Rank
    %p= @site.alexa_us_traffic_rank
    %h4 Page Rank
    %p= @site.page_rank
    %h4 Url
    %p= @site.domain
    %h4 Traffic Stats
    %p= @site.traffic_stats
    %h4 Notes
    %p= @site.notes
    %h4 Enabled For Scan
    %p= @site.enabled_for_scan
    %h4 Technical Notes
    %p= @site.technical_notes
    %h4 Logo
    %p 
      =image_tag @site.logo.url

    - if can? :edit, @site
      = link_to 'Edit Site Profile', edit_site_path(@site), class: "btn btn-info"
