.row
  .col-xs-12 
    - if @reports.blank? 
      .alert.alert-block.alert-success
        No reports were found. 
    - else 
      .widget-box 
        .widget-header 
          %h4 Search 
        .widget-body
          .widget-main
            =search_form_for @q, class:"form-inline" do |f|
              .input-group
                =f.text_field :business_cont,  placeholder: "Business Name"
                =f.text_field :referrer_code_start,  placeholder: "Referral Code"
                %span.input-group-btn
                  %button.btn.btn-purple.btn-sm
                    Search
                    %i.icon-search.icon-on-right.bigger-110
      .dataTables_wrapper
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Business
              %th Status
              %th.hidden-480 Phone Number
              %th.hidden-480 Email 
              %th.hidden-480 Label
              %th Created at
              %th Referral Code
              %th
          %tbody
            - @reports.each do |report|
              %tr
                %td= report.business
                %td= report.status
                %td= report.phone
                %td= report.email
                %td= report.label.presence || "?"
                %td= l(report.created_at, format: :long)
                %td= report.referrer_code
                %td 
                  .btn-group
                    %a.btn.btn-xs.btn-success{ href: "/scan/#{report.ident}"}
                      %i.icon-ok.bigger-120
                    = link_to report, method: :delete, class: 'btn btn-xs btn-danger', confirm: 'Are you sure?', title: 'Delete user' do 
                      %i.icon-trash
        .row 
          .col-md-6
            .dataTables_info
              = page_entries_info @reports
          .col-md-6
            .dataTables_paginate.paging_bootstrap
              = will_paginate @reports, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 1

    =link_to "Create Scan", new_report_path, class: "btn btn-primary"
