.container.business_options
  .row
    .span12
      = link_to( image_tag( current_label.logo.url() ), "https://#{current_label.domain}")
    -if false 
      .span1
        = link_to 'Billing',  '/subscriptions', :class => 'btn btn-info'
      .span2
        = link_to('Dashboard', businesses_path, :class => 'btn btn-info' )
      .span2
        = link_to('Edit Business Profile', edit_business_path(@business), :class => 'btn btn-info',:style => "margin-left:-45px;" )
