%head
  %meta{:charset => "utf-8"}/
  %title
    = current_label.name
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/

  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/fineuploader-jquery.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"}  

  %script(src="//static.getclicky.com/js")
  %script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

  %link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css" rel="stylesheet")
  %link(href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css" rel="stylesheet")
  %link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet")
  %link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")

  %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300")

  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"

  /[if lte IE 8]
    %link(rel="stylesheet" href="assets/css/ace-ie.min.css")

  / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries

  /[if lt IE 9]
    %script(src="assets/js/html5shiv.js")
    %script(src="assets/js/respond.min.js")

  -if signed_in? && current_label.css_is_set?
    = current_label.theme_css_files
  /-else # this is already included in application.css.  Plus, you need to prepend with /assets
  /  %link{:rel => :stylesheet, :href => "bootstrap.min.css" }

  -if signed_in? && current_label.css_is_set?
    = current_label.theme_js_files

  = csrf_meta_tags
  %style{:type => "text/css"}
    = current_label.custom_css
  %link{:rel => "icon", :type => "image/ico", :href => current_label.favicon_url}/
