.sidebar#sidebar
  %ul.nav.nav-list
    %li 
      %a{ href: "/dashboard"}
        %i.icon-dashboard
          %span.menu-text Dashboard 
    -if can? :update, Business
      %li 
        = link_to businesses_search_path do 
          %i.icon-text-width 
          %span.menu-text Locations 

    - if can? :create, User 
      %li 
        = link_to users_path do
          %i.icon-desktop
          %span.menu-text Users 
    -if can? :read, ClientData
      %li
        = link_to accounts_path do  
          %i.icon-list 
          %span.menu-text Accounts
    -if can? :manage, Coupon
      %li
        %a{ href: '/coupons'}
          %i.icon-barcode
          %span.menu-text Coupons
    -if can? :manage, CallCenter
      %li
        %a{ href: '/call_centers'}
          %i.icon-group
          %span.menu-text Call Centers
    -if can? :manage, WebDesign
      %li
        =link_to web_designs_path do
          %i.icon-globe
          %span.menu-text Web Design
    -if can? :manage, Business
      %li
        %a{ href: '/customers'}
          %i.icon-group
          %span.menu-text Customers
    -if can? :read, Business
      = render "layouts/sidebar_reseller"
    = render "layouts/sidebar_admin"
  .sidebar-collapse#sidebar-collapse
    %i.icon-double-angle-left
