.sidebar#sidebar
  %ul.nav.nav-list
    %li 
      %a{ href: "/dashboard"}
        %i.icon-dashboard
        %span.menu-text Dashboard 
    %li 
      = link_to businesses_url do 
        %i.icon-text-width 
        %span.menu-text Locations 

    - if can? :manage, User #current_user.reseller?
      %li 
        = link_to users_url do
          %i.icon-desktop
          %span.menu-text Users 
    %li
      = link_to accounts_url do  
        %i.icon-list 
        %span.menu-text Accounts
    -if can? :manage, Coupon
      %li
        %a{ href: '/coupons'}
          %i.icon-barcode
          %span.menu-text Coupons
    -if current_user.reseller?
      %li
        %a{ href: '/customers'}
          %i.icon-group
          %span.menu-text Customers
      = render "layouts/sidebar_reseller"
    = render "layouts/sidebar_admin"
  .sidebar-collapse#sidebar-collapse
    %i.icon-double-angle-left
