!!!
%html
  %head
    %title Sign-Up Manager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{'data-spy' => 'scroll', 'data-target' => 'form-sidebar'}
    .navbar
      .navbar-inner
        .container
          %ul.nav.pull-right
            %li
              = link_to 'Home', businesses_path
              - if user_signed_in?
                %li
                  = link_to 'Edit Profile', edit_user_registration_path
                %li
                  = link_to 'Sign Out', destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to 'Sign In', new_user_session_path
                %li
                  = link_to 'Sign Up', new_user_registration_path
    .container
      .row
        .offset2.span4
      %br
      .row
        .offset2.span8
          - if notice
            .alert.alert-block
              %a.close{'data-dismiss' => 'alert', :href => '#'} x
              = notice
          - if alert
            .alert.alert-block
              %a.close{'data-dismiss' => 'alert', :href => '#'} x
              = alert
      .row
        .span12
          = yield
    %br
    %br
    :javascript
      $('.form-navbar').scrollspy()
