!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      = current_label.name
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{:type => "text/css"}
      = current_label.custom_css
    /[if lt IE 9]
      <script src="/assets/html5shiv.js"></script>
    %link{:href => "/assets/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "/assets/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "/assets/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "/assets/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/ 
  %body
    .ajax-progress
    .container
      .row
        .span10
        .span2
          - if user_signed_in?
            = link_to('Sign Out', destroy_user_session_path, :method => :delete)
            = link_to('Edit Profile', edit_user_registration_path ) 
          - else
            = link_to('Sign In', new_user_session_path)
      = yield
