!!!
%html{:lang => "en"}
  =render 'layouts/head'
  %body
    - if impersonating_user 
      = render 'impersonate/header' 
    = render 'layouts/navbar'
    .main-container
      .main-container-inner
        = render 'layouts/sidebar' 
        .main-content
          .breadcrumbs#breadcrumbs
            %ul.breadcrumb
              %li
                %i.icon-home.home-icon
                %a{href:'#'} Home 
              %li.active 
                Dashboard
          .nav-search#nav-search 
            %form.form-search 
              %span.input-icon
                %input.nav-search-input#nav-search-input(autocomplete="off" placeholder="Search ...")
                %i.icon-search.nav-search-icon
          .page-content
            -# 
              .row 
                .col-md-6
                  - if flash[:notice] 
                    .alert.alert-info= flash[:notice] 
                  - if flash[:error] 
                    .alert.alert-error= flash[:error] 
                  - if flash[:alert] 
                    .alert.alert-error= flash[:alert] 
                .col-md-6
            = yield 

    :javascript 
      try{ clicky.init(100634376); }catch(e){}
    %noscript
      %p
        %img(alt="Clicky" width="1" height="1" src="//in.getclicky.com/100634376ns.gif")
