!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      = current_label.name
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.inner_page
    %header
      .container
        = render :partial => 'pages/menu'
    %section
      %article
        .container
          - [notice,alert].each do |msg|
            - if msg
              - @message = msg
              = render :partial => 'pages/alert'
          .row-fluid.span12.des_content
            = yield
    %section
      Copyright &copy; 2013 NetVersa, LLC.
    -#= render :partial => 'pages/footer'
