!!!
%html{:lang => "en"}
  %head
    %title Town Center :: NetVersa
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 8]
      <script src="/assets/html5shiv.js"></script>
    /[if lt IE 8]
      <script src="/assets/jquery.fixPNG.js"></script>
    /[if IE]
      <script src="/assets/jquery.placeholder.js"></script>
    :javascript
      jQuery(function($) {
      	$("ul>li:first:not(.igc-f)").addClass("first");
      	$("ul>li:last:not(.igc-l)").addClass("last");
      });
  %body{'data-spy' => 'scroll', 'data-target' => 'form-sidebar'}
    %header#header
      .container
        .row
          .span4
            %a.brand{:href => "#"}
            %h1 Town Center
          .span8
            .navbar
              .nav-collapse.collapse
                = render :partial => 'pages/menu'
    %section#contents-top
      .container
        #main{:style => 'box-shadow: -5px -5px 15px #888888;'}
          - if notice
            .alert.alert-block
              %a.close{'data-dismiss' => 'alert', :href => '#'} x
              = notice
          - if alert
            .alert.alert-block
              %a.close{'data-dismiss' => 'alert', :href => '#'} x
              = alert
          = yield
        .clearfix
    %footer#footer
      .container
        .row
          .span6
            .navbar
              %ul.nav{:style => 'font-size: 6pt'}
                %li
                  %a{:href => "/"} HOME
                %li
                  %a{:href => "/learn-more"} LEARN MORE
                %li
                  %a{:href => "/subscriptions/new"} PACKAGES
                %li
                  %a{:href => "/users/edit"} GET STARTED
                %li
                  %a{:href => "/reviews"} REVIEWS
                %li
                  %a{:href => "/contact-us"} CONTACT
                %li
                  %a{:href => "/users/sign_in"} SIGN IN
          .span7
            .footer-socials
              = image_tag '/assets/social_icons.png'
            .clearfix
      .container{:style => 'background-color: #808080; width: 100%;' }
        .row
          #copyright{:style => 'text-align: center; font-size: 6pt;'}
            %p.copyrights
              Copyright &copy; 2013
              = succeed "." do
                %a{:href => "/"} Net Versa, LLC.
                All Rights Reserved
