!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      = current_label.name
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{:type => "text/css"}
      = current_label.custom_css
    /[if lt IE 9]
      <script src="/assets/html5shiv.js"></script>
    %link{:rel => "icon", :type => "image/ico", :href => current_label.favicon_url}/
  %body
    .ajax-progress
    .container
      .row
        .span10
        .span2
          - if user_signed_in?
            = link_to('Sign Out', destroy_user_session_path, :method => :delete)
            = link_to('Edit Profile', edit_user_registration_path ) 
          - else
            = link_to('Sign In', new_user_session_path)
      .row 
        .span6
          - if flash[:notice] 
            .alert.alert-info= flash[:notice] 
          - if flash[:error] 
            .alert.alert-error= flash[:error] 
        .span6 
      = yield
