!!!
%html{:lang => "en"}
  =render 'layouts/head'
  %body
    - if impersonating_user 
      = render 'impersonate/header' 
    = render 'layouts/navbar'
    .main-container
      .main-container-inner
        = render 'layouts/sidebar' 
        .main-content
          .breadcrumbs#breadcrumbs
            %ul.breadcrumb
              %li
                %i.icon-home.home-icon
                %a{href:"/"} Home
              - breadcrumbs.each do |txt, path| 
                %li
                  -if path.present?
                    %a{href:"#{eval(path.to_s)}"}= txt
                  -else 
                    =txt
          .nav-search#nav-search 
            %form.form-search 
              %span.input-icon
                %input.nav-search-input#nav-search-input(autocomplete="off" placeholder="Search ...")
                %i.icon-search.nav-search-icon
          .page-content
            - if flash[:notice] 
              .alert.alert-info= flash[:notice] 
            - if flash[:error] 
              .alert.alert-danger= flash[:error] 
            - if flash[:alert] 
              .alert.alert-danger= flash[:alert] 
            = yield 

    :javascript 
      try{ clicky.init(100634376); }catch(e){}
    %noscript
      %p
        %img(alt="Clicky" width="1" height="1" src="//in.getclicky.com/100634376ns.gif")
    - if current_label.footer != nil
      = current_label.footer
