!!!
%html{:lang => "en"}
  =render 'layouts/head'
  %body
    - if impersonating_user 
      = render 'impersonate/header'
    - if current_user
      = render 'layouts/navbar'
    .main-container
      .main-container-inner
        -if current_user
          %a#menu-toggler.menu-toggler{ href: "#"}
            %span.menu-text
          = render 'layouts/sidebar'
        .main-content
          .breadcrumbs#breadcrumbs
            %ul.breadcrumb
              %li
                %i.icon-home.home-icon
                %a{href:"/"} Home
              - breadcrumbs.each do |txt, path| 
                %li
                  -if path.present?
                    %a{href:"#{eval(path.to_s)}"}= txt
                  -else 
                    =txt
          .page-content
            =render partial: "layouts/notice" 
            =render partial: "layouts/alert", locals: {msg: flash[:alert]} 
            =render partial: "layouts/alert", locals: {msg: flash[:error]} 
            = yield 

    :javascript 
      try{ clicky.init(100634376); }catch(e){}
    %noscript
      %p
        %img(alt="Clicky" width="1" height="1" src="//in.getclicky.com/100634376ns.gif")
    - if current_label.footer != nil
      = current_label.footer
