!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      = current_label.name
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"}    
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"


    -if signed_in? && current_label.css_is_set?
      = current_label.theme_css_files
    -else
      %link{:rel => :stylesheet, :href => "bootstrap.min.css" }

    -if signed_in? && current_label.css_is_set?
      = current_label.theme_js_files

    = csrf_meta_tags
    %style{:type => "text/css"}
      = current_label.custom_css
    /[if lt IE 9]
      <script src="/assets/html5shiv.js"></script>
    %link{:rel => "icon", :type => "image/ico", :href => current_label.favicon_url}/
  %body
    - if current_staff_user 
      = render 'user_impersonate/header' 

    %header.navbar
      .navbar-inner 
        .container 
          - if user_signed_in?
            %ul.nav 
              %li 
                %a{:href => '#'}
                  Welcome 
                  %strong= "#{current_user.email}!"
            %ul.nav.pull-right
              %li= link_to('SIGN OUT', destroy_user_session_path, :method => :delete)
          - else 
            %ul.nav.pull-right
              %li= link_to('Sign In', new_user_session_path)

    .ajax-progress

    .container
      .row 
        .span6 
          - if flash[:notice] 
            .alert.alert-info= flash[:notice] 
          - if flash[:error] 
            .alert.alert-error= flash[:error] 
        .span6 
    - if user_signed_in?       
      = render 'layouts/business_options'
      = render 'layouts/citation_summary' 

    .content{ :class => user_signed_in? ? 'signed_in' : '' } 
      .container
        = yield 

    %footer 
      %span
        Copyright &copy; 2013 
        %strong TownCenter,
        All Rights Reserved.
