!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Town Center
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    "application", :media => "all"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/assets/skin.css"}
    = javascript_include_tag "application"
    %script{:src => '/assets/jquery.jcarousel.min.js'}/
    = csrf_meta_tags
    :javascript
      jQuery(document).ready(function() {
          jQuery('#mycarousel').jcarousel({
            wrap: 'circular'
          });
      });
  %body.front_page
    %header
      .container
        = render :partial => 'pages/menu'
    %section
      %article
        .container
          .row-fluid.span12
            .banner
              = image_tag 'feature.png', :alt => 'Banner'
      %article
        .container.bos_content
          .row-fluid.span12
            .span8
              .content_1
                %p.title_txt
                  Keep all your Business Listings up-to-date
                  %br>/
                  from one location.
              .content_2
                = image_tag 'big_logo.png'
                %p.con_txt Town Center lets you manage, update and promote your Business Listing in every online database such as; Google+ Local, Facebook, Twitter, Yelp, Foursquare and countless more.
                .b25
                %p.con_txt Town Center helps you appear in the most possible local searches with Guaranteed Presence making sure your listings are present with the correct information. It automatically adds missing listings, and it updates critical fields like name, address, phone number, and categories across our network. Change your information anytime and it will update everywhere.
            .span4
              .content_action
                .action_sub
                  %p.action_title
                    %b Start here!
                    Check to see how your business appears across the internet.
                  %p.action_txt Enter you business information below.
                  %input#bussiness_name.action_input_1{:name => "bussiness_name", :placeholder => "Business name", :type => "text"}/
                  %input#bussiness_number.action_input_1{:name => "bussiness_number", :placeholder => "Business telephone number", :type => "text"}/
                  %input#bussiness_address.action_input_1{:name => "bussiness_address", :placeholder => "Business address", :type => "text"}/
                  %input#city.action_input_2{:name => "city", :placeholder => "City", :type => "text"}/
                  %input#zip.action_input_3{:name => "zip", :placeholder => "Zip", :type => "text"}/
                  %a.scan_now{:href => "/scan"}
          .row-fluid.span12
            %p.title_txt Town Center Network
            %p.con_txt Our network consists of the top local search properties across platforms – online, mobile & navigation devices. These sites, including Yahoo!, MapQuest, Yelp and a host of other properties, get over 150,000,000 unique visitors every month in the US.
            %ul#mycarousel.jcarousel-skin-tango
              - (1 .. 11).each do |num|
                %li
                  = image_tag "link_img_#{num}.png"
          .row-fluid.span12
            .content_3_back
            .content_3
              .span4
                .content_4
                  %p.con_title Businesses face several challeges managing their online presence.
                  %p.con_sub_txt Business information changes regularly, not only as a business opens, closes, or moves.
                  %p.con_sub_txt But also with special offers, new products, employee hires, holiday hours and more.
                  %p.con_sub_txt Jumbled and inconsistent information creates a frustrated and misinformed user.
              .span4
                .content_5
                  %p.sub_title Here are a few clients proudly using TownCenter already.
                  = image_tag 'marks.png'
              .span4
                .content_4
                  %p.con_title Town Centers one-point control saves you hours.
                  %p.con_sub_txt Setup takes just minutes and your listings will go live in no time!
                  %p.con_sub_txt Communicate with the large crowd of sites through one simple database listing.
                  %p.con_sub_txt Town Center will keep posted business information current on 45+ (growing quickly) of the most popularly used sites.
                  %a.scan_now{:href => "/scan"}
    = render :partial => 'pages/footer'
