!!!
%html{:lang => "en"}
  %head
    %title Town Center :: NetVersa
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 8]
      <script src="/assets/html5shiv.js"></script>
    /[if lt IE 8]
      <script src="/assets/jquery.fixPNG.js"></script>
    /[if IE]
      <script src="/assets/jquery.placeholder.js"></script>
    :javascript
      $.noConflict();
      jQuery(function($) {
      	$("ul>li:first:not(.igc-f)").addClass("first");
      	$("ul>li:last:not(.igc-l)").addClass("last");
      	try {
      		$("form").validate({
      			onkeyup: function(inputElem, e) {
      				if(this.element(inputElem))	$(inputElem).removeAttr('title');
      			},
      			invalidHandler: function(e, validator) {
      				var errors = validator.numberOfInvalids();
      				if (errors) {
      					var message = errors == 1
      						? 'You missed 1 field. It has been highlighted below'
      						: 'You missed ' + errors + ' fields.  They have been highlighted below';
      				}
      				if(message && message!='')	alert(message);
      				$(this).find("input:text").removeAttr("title");
      			},
      			errorPlacement: function($errorElem, $inputElem) {
      				var errorText = $errorElem.text();
      				alert(errorText);
      				if(errorText && errorText!='')
      					$inputElem.attr('title', errorText);
      				else
      					$inputElem.removeAttr('title');
      			},
      			debug: false
      		});
      	} catch(e) {
      		//alert('Error: ' + e);
      	}
      
      	if(jQuery.browser.msie===true) {
      		if(jQuery.browser.version<8) {
      			$("img").fixPNG();
      			$("a, div, span").fixPNG();
      		}
      		$("input, textarea").placeholder();
      	}
      });
  %body
    %header#header
      .container
        .row
          .span4
            %a.brand{:href => "#"}
            %h1 
          .span8
            .navbar
              .nav-collapse.collapse
                = render :partial => 'pages/menu'
    %section#top-banner
      .container
        .row
          .span8
            .banner-social-btns
              /
                <a href="#facebook" class="social-icon-large facebook-icon-large">Facebook</a>
                <a href="#twitter" class="social-icon-large twitter-icon-large">Twitter</a>
                <a href="#googleplus" class="social-icon-large googleplus-icon-large">Google+</a>
                <a href="#yahoo" class="social-icon-large yahoo-icon-large">Yahoo</a>
                <a href="#youtube" class="social-icon-large youtube-icon-large">Youtube</a>
                <a href="#rss" class="social-icon-large rss-icon-large">RSS</a>
                <div class="banner-block block-block1">
                <div class="block-wrapper">
                <span class="block-title">EXCELLENT FEATURE</span>
                <p class="block-info">
                Awesome product, really should sign up. It's
                quite a nice product and you should try it.
                </p>
                </div>
                </div>
                <div class="banner-block block-block2">
                <div class="block-wrapper">
                <span class="block-title">BUY TO WHY</span>
                <p class="block-info">
                Some compelling reasons to buy our product. It's
                quite a nice product and you should try it.
                </p>
                </div>
                </div>
          .span4
            .banner-form
              .banner-form-wrapper
                %span.banner-form-title
                  Start here! Check to see how your business appears across the internet.
                %span.banner-form-subtitle
                  Enter your business information below:
                %form{:action => "#", :method => "get"}
                  %input.text-input.required{:name => "business-name", :placeholder => "Business Name", :type => "text"}/
                  %input.text-input.required.number{:name => "business-phone", :placeholder => "Business Phone Number", :type => "text"}/
                  %input.text-input.required{:name => "business-address", :placeholder => "Business Address", :type => "text"}/
                  %input.text-input.text-input-city.required{:name => "business-city", :placeholder => "City", :type => "text"}/
                  %input.text-input.text-input-zip.required.number{:name => "business-zip", :placeholder => "Zip", :type => "text"}/
                  %input.scan-btn{:name => "submit-business", :type => "submit", :value => "Scan Now"}/
    .container
      #main
        %h1 WELCOME TO NETVERSA
        %p.contents
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dapibus dui a tincidunt. Aenean a enim nisi. Nulla pretium metus egestas nisl pharetra vestibulum.
          Suspendisse ac est est, ac scelerisque enim. Vestibulum dictum elementum ipsum, sed gravida elit blandit quis. Proin tempor velit a sem semper imperdiet. Ut tempus,
          dolor sed rutrum hendrerit, risus elit dignissim risus, sit amet suscipit orci elit nec sapien. Etiam dignissim molestie rhoncus. Quisque dapibus sapien ut elit imperdiet
          vitae tempor neque pretium. Praesent vitae viverra sapien. Etiam nisi felis, laoreet id rutrum vel, tincidunt id mauris.
        .MT30.clearfix
        .row
          .span6
            .latest-blog-section
              %span.section-title LATEST BLOG POST
              #latest-posts
                .latest-post
                  %a{:href => "#"} Mauris in diam eu lacus euismod sollicitudin.
                  %span.post-time 23 December 2012. 12 Comments
                  %p
                    Mauris in diam eu lacus euismod sollicitudin. Suspendisse nibh est, ornare id laoreet
                    vel, porta eget nibh. Mauris fermentum bibendum tellus vitae dignissim.
                .latest-post
                  %a{:href => "#"} Mauris in diam eu lacus euismod sollicitudin.
                  %span.post-time 23 December 2012. 12 Comments
                  %p
                    Mauris in diam eu lacus euismod sollicitudin. Suspendisse nibh est, ornare id laoreet
                    vel, porta eget nibh. Mauris fermentum bibendum tellus vitae dignissim.
              %a.readmore{:href => "#"} Read More &gt;
          .span1 &nbsp;
          .span5
            .testimonial-section
              %span.section-title TESTIMONIALS
              .rb-box
                .rb-box-top
                .rb-box-inner
                  %span.blockquote-start
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Donec varius dapibus dui a tincidunt. Aenean a enim nisi.
                  Nulla pretium metus egestas nisl pharetra vestibulum.
                  Ut condimentum urna sed mi placerat tincidunt.Nulla
                  pretium metus egestas nisl pharetra vestibulum. Ut
                  condimentum urna sed mi placerat tincidunt.Mauris in
                  diam eu lacus euismod sollicitudin. Suspendisse nibh est,
                  ornare id laoreet vel, porta eget nibh. Mauris fermentum
                  bibendum tellus vitae dignissim.
                  %span.blockquote-end
                .rb-box-bottom
              %span.testimonial-by Mr. Jhon Doe
        .MT20.clearfix
    %section#our-customers
      .container
        %h4 SOME OF OUR CUSTOMERS
        %ul.customers-list
          %li.customer-asus
            %a{:href => "#"}
              %img{:alt => "ASUS", :src => "/assets/customer_asus.jpg"}/
          %li.customer-symantec
            %a{:href => "#"}
              %img{:alt => "SYMANTEC", :src => "/assets/customer_symantec.jpg"}/
          %li.customer-yahoo
            %a{:href => "#"}
              %img{:alt => "YAHOO", :src => "/assets/customer_yahoo.jpg"}/
          %li.customer-bea
            %a{:href => "#"}
              %img{:alt => "BEA", :src => "/assets/customer_bea.jpg"}/
          %li.customer-netscape
            %a{:href => "#"}
              %img{:alt => "NETSCAPE", :src => "/assets/customer_netscape.jpg"}/
          %li.customer-intel
            %a{:href => "#"}
              %img{:alt => "INTEL", :src => "/assets/customer_intel.jpg"}/
          %li.customer-oracle
            %a{:href => "#"}
              %img{:alt => "ORACLE", :src => "/assets/customer_oracle.jpg"}/
        .clearfix
    %footer#footer
      .container
        .row
          .span6
            .navbar
              %ul.nav
                %li
                  %a{:href => "#home"} Home
                %li
                  %a{:href => "#about-us"} About Us
                %li
                  %a{:href => "#pricing"} Pricing
                %li
                  %a{:href => "#edit-profile"} Edit Profile
                %li
                  %a{:href => "#contact-us"} Contact Us
            .clearfix
            %p.copyrights
              Copyright &copy; 2012
              = succeed "." do
                %a{:href => "#"} Net Versa
              All Rights Reserved
          .span7
            .footer-socials
              %span.follow-us-text Follow Us
              %a.social-icon-small.facebook-small-icon{:href => "#facebook"} Facebook
              %a.social-icon-small.twitter-small-icon{:href => "#twitter"} Twitter
              %a.social-icon-small.youtube-small-icon{:href => "#youtube"} Youtube
              %a.social-icon-small.rss-small-icon{:href => "#rss"} RSS
            .clearfix
    %script{:src => "js/bootstrap.min.js"}
    / <script src="js/jquery.validate.min.js"></script>
