%table.table.table-striped.table-bordered.table-hover.dataTable
  %thead
    %tr
      %th Site
      %th Listing URL
      %th.hidden-480
        %i.icon-time
        Status
      %th Sync
      %th
  %tbody
    - @rows.each do |row|
      %tr
        %td= link_to row['type'], account_path(row["id"])
        %td
          - if row['listing_url'].present?
            = link_to 'View Listing', row['listing_url'], :class => 'btn btn-info'
        %td{:title => distance_of_time_in_words_to_now(ClientData.last_update( row['business_id'], row['type'] ) || row['updated_at'])}
          = row['status'].nil? ? '' : row['status']
        %td= render partial: "sync_button", locals: { :row => row }
        %td
          -if row['type'].downcase == 'bing' && current_user.instance_of?(Administrator) || row['type'].downcase != 'bing'
            = link_to edit_account_path(row["id"]), class: "btn btn-xs btn-info" do
              %i.icon-edit.bigger-120

