%h3= @account.type
%table.table.table-striped
  -if @account.responds_to? :username
  %tr
    %td Name
    %td= "#{@user.prefix} #{@user.first_name} #{@user.last_name}".presence || "Not provided"
  %tr
    %td Phone 
    %td= @user.mobile_phone.presence || "Not provided"
  %tr
    %td Email 
    %td= @user.email
  %tr
    %td Birthdate
    %td= l(@user.date_of_birth, format: :long)
  %tr
    %td Gender
    %td= @user.gender
  %tr
    %td Role 
    %td= @user.role_is

= link_to 'Edit Account', edit_account_path(@account), class: "btn btn-info"
